<ion view class="backgroundinicial">
    <ion-content scroll="false">
            <div style="background-color:rgba(255,255,255,0.4);width:100%;height:100%">
                <div id="title" style="padding-top:30px">
                    <label style="color:#046399;font-size:42px;display:block;text-align:center"><b>¡BIENVENIDO!</b></label>
                </div>
                <div>
                    <div class="col" style="padding:0!important">
                    <img src="img/LOGO GO TAP SOBRE NUBE VERDE.png" style="margin-top:6%;width:310px;height:250px">
                    </div>
                </div>
                <div id="middletext">
                    <label style="color:#212121;font-size:19px;display:table-cell;text-align:center">Ya podés recargar, pagar o canjear tus cupones.</label>
                </div>
                <div id="bottomtext" style="margin-top:105px" ng-click="openWeb()">
                    <label style="color:#212121;font-size:19px;display:block;text-align:center">www.gotap.com</label>
                </div>
            </div>
    </ion-content>
</ion-view>