<ion-view>
    <ion-nav-bar class="bar-stable bar-gotap2">
      <ion-nav-buttons side="left">
        <i class="ion-arrow-left-c" style="font-size:27px;margin-left:5px;position:relative;top:3px" ng-click="goBack()"></i>
      </ion-nav-buttons> 
    </ion-nav-bar>
    <ion-header-bar align-title="tcenter" class="bar-light" style="background-color:#0065a3">
       <label class="letraGoTap" style="font-weight:bolder;color:white;letter-spacing:-1px;font-size:21px;width:200px;position:relative;left:40px;line-height:35px">Tarjetas</label>
       <div style="background:url(img/iconos.png) no-repeat;background-position:-42px 0;background-size:cover;display:block;width:40px;height:80px;position:relative;top:-20px;left:18%"></div>
       <label style="position:absolute;border-color:#0065a3 transparent transparent;border-style:solid;border-width:20px;height:0;width:0;right:20px;top:40px"></label>
    </ion-header-bar>
    <ion-footer-bar align-title="center" style="background-color:#222222">
      <div style="text-align:center;width:100%;margin:0 12%">
        <span style="background:url(img/iconomovil.png) no-repeat;background-position:center;background-size:cover;width:40px;height:34px;display:block;float:left" ng-click="utils.goToPage('menu/recargaAhora')"></span>
        <span style="background:url(img/iconomenu.png) no-repeat;background-position:center;background-size:cover;width:40px;height:34px;display:block;float:right" ng-click="showGotapMenu()"></span>
        <span style="background:url(img/iconodinero.png) no-repeat;background-position:center;background-size:cover;width:40px;height:34px;display:block;float:right;margin-right:24%" ng-click="utils.goToPage('menu/mediosDePago')"></span>
      </div>
    </ion-footer-bar>
    <ion-content style="overflow:inherit" scroll="true" style="background-color:white!important">
          <div class="col">
            <div style="margin:30px 0 20px 5%;width:280px;height:180px;background:#f1f1f1">
                <input type="text" ng-model="nombre" style="background:transparent;width:250px;color:#777777;font-size:16px;padding:20px 0 0 10px" placeholder="Titular de la Tarjeta"></input>
                <span style="width:260px;border-bottom:2px solid #0068a6;display:block;position:relative;left:4%;top:3px;margin-bottom:5px"></span>
                
                <input type="text" id="validarTarjeta" ng-model="numero" style="background:transparent;width:250px;color:#777777;font-size:16px;padding:20px 0 0 10px" placeholder="Número de Tarjeta"></input>
                <span style="width:260px;border-bottom:2px solid #0068a6;display:block;position:relative;left:4%;top:3px;margin-bottom:5px"></span>
                
                <div id="MAC" style="height:50px">                
                  <input type="text" ng-model="mes" maxlength="2" style="text-align:center;background:transparent;width:50px;color:#777777;font-size:16px;padding:20px 0 0 5px" placeholder="MM"></input>
                  <span style="width:50px;border-bottom:2px solid #0068a6;display:block;position:relative;left:4%;top:3px;margin-bottom:15px"></span>
                  
                  <div style="position:relative;top:-51px;left:65px">
                    <input type="text" ng-model="ano" maxlength="2" style="text-align:center;background:transparent;width:50px;color:#777777;font-size:16px;padding:20px 0 0 5px" placeholder="AA"></input>
                    <span style="width:50px;border-bottom:2px solid #0068a6;display:block;position:relative;left:4%;top:3px;margin-bottom:15px"></span>
                  </div>
                  
                  <div style="position:relative;top:-102px;left:200px">
                    <input type="text" ng-model="cvc" maxlength="3" style="text-align:center;background:transparent;width:50px;color:#777777;font-size:16px;padding:20px 0 0 5px" placeholder="CVC"></input>
                    <span style="width:50px;border-bottom:2px solid #0068a6;display:block;position:relative;left:4%;top:3px;margin-bottom:15px"></span>
                  </div>
                </div>
                <button class="button letraGoTap" ng-click="addTarjeta(numero,nombre,mes,ano,cvc)" style="position:relative;letter-spacing:-1px;font-size:16px;width:250px;height:30px;min-height:10px;line-height:0;;border-radius:0;background-color:#94c11e;color:white">Guardar Tarjeta</button>
            </div>
            
            <div style="margin-top:-10px">
              <span style="margin:0 0%;width:300px;border-bottom:2px solid #0068a6;display:block;position:relative;left:2%;top:3px;margin-bottom:5px"></span>
              <div style="margin:15px 10% 0;width:250px;height:30px;background-color:#0065a3;color:white;letter-spacing:-1px;font-size:16px;line-height:28px">Mis Tarjetas</div>
            </div>
            
            <div class="col">
            <!--Reemplazar cuando se tenga el objeto, en ng-repeat, para repetir las divs-->
              <div ng-repeat="tarjeta in tarjetas" ng-show="{{tarjeta.estado=== 'activa'}}">
                  <div style="margin:10px 0 20px 5%;width:280px;height:184px;background:#f1f1f1">
                      <!--<input type="text" ng-model="" style="background:transparent;width:285px;color:#777777;font-size:16px;letter-spacing:-2px;padding:20px 0 0 5px" placeholder="Titular de la Tarjeta"></input>-->
                      <div style="background:transparent;width:250px;color:#777777;font-size:16px;padding:15px 0 0 18px;text-align:left">{{tarjeta.nombrePropietario + ' ' + tarjeta.apellidoPropietario}}</div>
                      <span style="width:260px;border-bottom:2px solid #0068a6;display:block;position:relative;left:4%;top:3px;margin-bottom:5px"></span>
                      
                      <div style="background:transparent;width:250px;color:#777777;font-size:16px;padding:20px 0 0 18px;text-align:left">{{tarjeta.numero}}</div>
                      <span style="width:260px;border-bottom:2px solid #0068a6;display:block;position:relative;left:4%;top:3px;margin-bottom:5px"></span>
                      
                      <div id="MAC" style="height:50px">                
                        <div style="text-align:center;background:transparent;width:285px;color:#777777;font-size:16px;padding:14px 0 0 28px;text-align:left">{{getMonth(tarjeta.caducidad)}}</div>
                        <span style="width:50px;border-bottom:2px solid #0068a6;display:block;position:relative;left:4%;top:3px;margin-bottom:15px"></span>
                        
                        <div style="position:relative;top:-57px;left:65px">
                          <div style="text-align:center;background:transparent;width:285px;color:#777777;font-size:16px;padding:20px 0 0 18px;text-align:left">{{getYear(tarjeta.caducidad)}}</div>
                          <span style="width:50px;border-bottom:2px solid #0068a6;display:block;position:relative;left:4%;top:3px;margin-bottom:15px"></span>
                        </div>
                        
                        <div style="position:relative;top:-116px;left:200px">
                          <div style="text-align:center;background:transparent;width:285px;color:#777777;font-size:16px;padding:20px 0 0 22px;text-align:left">{{tarjeta.cvc}}</div>
                          <span style="width:50px;border-bottom:2px solid #0068a6;display:block;position:relative;left:4%;top:3px;margin-bottom:15px"></span>
                        </div>
                      </div>
                      <button class="button letraGoTap" ng-click="eliminarTarjeta(tarjeta.numero)" style="position:relative;letter-spacing:-1px;font-size:16px;width:250px;height:30px;min-height:10px;line-height:0;;border-radius:0;background-color:#0068a6;color:white">Eliminar Tarjeta</button>
                  </div>
              </div>
         </div>
  </ion-content>
</ion-view> 
