<ion-view>
    <ion-header-bar align-title="tcenter" class="bar-light" style="background-color:#0065a3">
       <label style="position:absolute;border-color:#0065a3 transparent transparent;border-style:solid;border-width:20px;height:0;width:0;right:20px;top:40px"></label>
    </ion-header-bar>
    <ion-footer-bar align-title="center" style="background-color:#0065a3">
      <div style="margin:0 28%" ng-click="openWeb('http://www.mygotap.com')"><label style="font-size:18px;letter-spacing:-1px;color:#f8f8f8">www.mygotap.com</label></div>
    </ion-footer-bar>
    <ion-content style="overflow:auto" scroll="true">
          <div class="col">
                <div>
                    <div class="col" style="padding:0!important">
                        <img src="img/LOGO GO TAP SOBRE NUBE VERDE.png" style="margin-top:6%;width:120px;height:100px">
                    </div>
                </div>
            <div style="margin-top:0px">
                <img src="img/MANO_CON_CEL.png" style="width:240px;height:352px"></div>
          </div>
          <div style="margin-top:-426px">                
                <span style="display:block;color:#1e6591;font-size:28px;font-weight:bolder;letter-spacing:-2px;width:150px;line-height:30px;position:relative;top:130px;left:32%">RECARGA EXITOSA!</span>
                <span style="display:block;width:80px;height:80px;position:relative;top:130px;left:37%;background:url(img/CARITA_FELIZ.png)no-repeat;background-size:contain"></span>
          </div>
    </ion-content>
</ion-view> 