<ion-view>
    <ion-header-bar align-title="tcenter" class="bar-light" style="background-color:#94c11e">
       <img src="img/logoheader.png" style="width:70px;height:44px;position:relative;left:40%"></img>
       <label style="position:absolute;border-color:#94c11e transparent transparent;border-style:solid;border-width:20px;height:0;width:0;right:20px;top:40px"></label>
    </ion-header-bar>
    <ion-footer-bar align-title="center" style="background-color:#222222">
      <div style="text-align:center;width:100%;margin:0 12%">
        <span style="background:url(img/iconomovil.png) no-repeat;background-position:center;background-size:cover;width:40px;height:34px;display:block;float:left" ng-click="utils.goToPage('menu/recargaAhora')"></span>
        <span style="background:url(img/iconomenu.png) no-repeat;background-position:center;background-size:cover;width:40px;height:34px;display:block;float:right" ng-click="showGotapMenu()"></span>
        <span style="background:url(img/iconodinero.png) no-repeat;background-position:center;background-size:cover;width:40px;height:34px;display:block;float:right;margin-right:24%" ng-click="utils.goToPage('menu/mediosDePago')"></span>
      </div>
    </ion-footer-bar>
    <ion-content style="overflow:auto" scroll="true" style="background-color:white!important">
          <div class="col">
            <div style="background: url(/img/ICONO_CEL.jpg)no-repeat;width:80px;height:55px;background-size:contain;margin:30px 40%" ng-click="goToPage('login')"></div>

            <div style="margin-top:45px">
                <div style="height:52px">
                  <input type="text" style="width:285px;color:#777777;font-size:18px;letter-spacing:-1px;text-align:center" placeholder="Teléfono">
                  <span style="width:96%;border-bottom:2px solid #0068a6;display:block;position:relative;left:8px;top:-7px;margin-bottom:15px"></span>
                  <select id="telfMarcado" style="position:relative;top:-50px;width:290px!important">
                    <option ng-selected="true">Teléfono</option>
                      <option ng-repeat="numero in telefonos">{{numero.alias}}</option>
                  </select>
                </div>
                
                <div style="height:52px;margin-top:25px">
                  <input type="text" style="width:285px;color:#777777;font-size:18px;letter-spacing:-1px;text-align:center" placeholder="Medio de Pago">
                  <span style="width:96%;border-bottom:2px solid #0068a6;display:block;position:relative;left:8px;top:-7px;margin-bottom:15px"></span>
                  <select id="tarjMarcado" style="position:relative;top:-50px;width:290px!important">
                    <option ng-repeat="numero in tarjetas">{{numero.numero}}</option>
                  </select>
                </div>
                
                <div style="margin: 15px 20% 0">
                    <span style="color:#99ba25;letter-spacing:-1px;font-size:24px;font-weight:bolder;line-height:30px">Tap en el monto a recargar!</span>
                </div>
                
                <div style="margin-top:30px">
                    <div style="background: url(img/iconoubicacion.png)no-repeat;width:80px;height:46px;background-size:contain;margin:0 40%" ng-click="utils.goToPage('menu/mapa')"></div>
                    <span style="color:#777777;letter-spacing:-1px;font-size:17px">Buscá carteles cercanos!</span>
                </div>
          </div>
  </ion-content>
</ion-view> 

