<ion-view>
    <ion-header-bar align-title="tcenter" class="bar-light" style="background-color:#94c11e;height:70px;">
       <label class="letraGoTap" style="font-weight:bolder;color:white;letter-spacing:-2px;font-size:25px;width:200px;position:relative;left:30px;line-height:28px">Información de Tarjeta</label>
       <img src="img/logoheader.png" style="width:99px;height:72px;position:relative;left:18px"></img>
       <label style="position:absolute;border-color:#94c11e transparent transparent;border-style:solid;border-width:20px;height:0;width:0;right:20px;top:70px"></label>
    </ion-header-bar>
    <ion-footer-bar align-title="center" style="background-color:#222222">
      <div style="margin:0 25%;width:160px" ng-click="openWeb('http://www.mygotap.com')"><label style="font-size:17px;letter-spacing:-1px;color:#f8f8f8">www.mygotap.com</label></div>
    </ion-footer-bar>
    <ion-content style="overflow:auto" scroll="true" style="background-color:white!important">
          <div class="col">
            <div style="margin:100px 4% 0">
                  <input type="text" ng-model="titularTarjeta" style="background:transparent;width:285px;color:#777777;font-size:20px;padding:20px 0 0 10px" placeholder="Titular de la Tarjeta"></input>
                  <span style="width:260px;border-bottom:2px solid #0068a6;display:block;position:relative;left:4%;top:3px;margin-bottom:15px"></span>
                  
                  <input type="number" id="validarTarjeta" ng-model="numeroTarjeta" style="background:transparent;width:285px;color:#777777;font-size:20px;padding:20px 0 0 10px" placeholder="Número de Tarjeta"></input>
                  <span style="width:260px;border-bottom:2px solid #0068a6;display:block;position:relative;left:4%;top:3px;margin-bottom:15px"></span>
                  
                  <div id="MAC" style="height:100px">                
                    <input type="text" ng-model="mesTarjeta" maxlength="2" style="background:transparent;width:50px;color:#777777;font-size:20px;padding:20px 0 0 12px;text-align:left" placeholder="MM"></input>
                    <span style="width:50px;border-bottom:2px solid #0068a6;display:block;position:relative;left:4%;top:3px;margin-bottom:15px"></span>
                    
                    <div style="position:relative;top:-51px;left:65px">
                      <input type="number" ng-model="anoTarjeta" maxlength="2" style="background:transparent;width:50px;color:#777777;font-size:20px;padding:20px 0 0 15px;text-align:left" placeholder="AA"></input>
                      <span style="text:50px;border-bottom:2px solid #0068a6;display:block;position:relative;left:4%;top:3px;margin-bottom:15px"></span>
                    </div>
                    
                    <div style="position:relative;top:-102px;left:200px">
                      <input type="text" ng-model="cvcTarjeta" maxlength="3" style="background:transparent;width:50px;color:#777777;font-size:20px;padding:20px 0 0 6px;text-align:left" placeholder="CVC"></input>
                      <span style="width:50px;border-bottom:2px solid #0068a6;display:block;position:relative;left:4%;top:3px"></span>
                    </div>
                  </div>
                  
                <button class="button" ng-click="addTarjeta(titularTarjeta, numeroTarjeta, mesTarjeta, anoTarjeta, cvcTarjeta)" style="margin-top:30px;font-weight:normal;font-size:26px;letter-spacing:-2px;font-family:inherit;height:56px;border-radius:0;width:125px;background-color:#0065a3;color:white">LISTO!</button>
          </div>
  </ion-content>
</ion-view> 