<ion-view>
    <ion-header-bar align-title="tcenter" class="bar-light" style="background-color:#94c11e;height:70px;">
       <label class="letraGoTap" style="font-weight:bolder;color:white;letter-spacing:-2px;font-size:25px;width:200px;position:relative;left:30px;line-height:28px">Ingresar Código de Verificación</label>
       <img src="img/logoheader.png" style="width:99px;height:72px;position:relative;left:18px"></img>
       <label style="position:absolute;border-color:#94c11e transparent transparent;border-style:solid;border-width:20px;height:0;width:0;right:20px;top:70px"></label>
    </ion-header-bar>
    <ion-footer-bar align-title="center" style="background-color:#222222">
      <div style="margin:0 25%;width:160px" ng-click="openWeb('http://www.mygotap.com')"><label style="font-size:17px;letter-spacing:-1px;color:#f8f8f8">www.mygotap.com</label></div>
    </ion-footer-bar>
    <ion-content style="overflow:auto" scroll="true" style="background-color:white!important">
          <div class="col">
            <div style="margin-top:150px">
                
                <input type="number" ng-model="codigovalidacion" style="width:285px;color:#777777;font-size:18px;letter-spacing:-1px;text-align:center" placeholder="Código Aquí"></input>
                <span style="width:290px;border-bottom:2px solid #0066b3;display:block;position:relative;left:8px;top:-7px;margin-bottom:15px"></span>
                
                <button class="button" ng-click="Save3(codigovalidacion)" style="margin-top:30px;font-weight:normal;font-size:26px;letter-spacing:-2px;font-family:inherit;height:56px;border-radius:0;width:125px;background-color:#0065a3;color:white">LISTO!</button>
                
                <div style="margin-top:50px;width:300px">
                    <label style="color:#777777;text-decoration:none;letter-spacing:-1px;font-size:17px;line-height:10px" ng-click="reenviarCodigo()">Problemas para recibir código? Reenviar Código.</label>
                </div>
          </div>
  </ion-content>
</ion-view> 