<ion-view>
    <ion-nav-bar class="bar-stable bar-gotap2">
      <ion-nav-buttons side="left">
        <i class="ion-arrow-left-c" style="font-size:27px;margin-left:5px;position:relative;top:3px" ng-click="goBack()"></i>
      </ion-nav-buttons> 
    </ion-nav-bar>
    <ion-header-bar align-title="tcenter" class="bar-light" style="background-color:#0065a3">
       <label class="letraGoTap" style="font-weight:bolder;color:white;letter-spacing:-2px;font-size:21px;width:200px;position:relative;left:40px;line-height:35px">Cambio de Clave</label>
       <!--<div style="background:url(img/iconos.png) no-repeat;background-position:-122px 0px;background-size:cover;display:block;width:40px;height:80px;position:relative;top:-20px;left: 18%"></div>-->
       <label style="position:absolute;border-color:#0065a3 transparent transparent;border-style:solid;border-width:20px;height:0;width:0;right:20px;top:40px"></label>
    </ion-header-bar>
    <ion-footer-bar align-title="center" style="background-color:#222222">
      <div style="text-align:center;width:100%;margin:0 12%">
        <span style="background:url(img/iconomovil.png) no-repeat;background-position:center;background-size:cover;width:40px;height:34px;display:block;float:left" ng-click="utils.goToPage('menu/recargaAhora')"></span>
        <span style="background:url(img/iconomenu.png) no-repeat;background-position:center;background-size:cover;width:40px;height:34px;display:block;float:right" ng-click="showGotapMenu()"></span>
        <span style="background:url(img/iconodinero.png) no-repeat;background-position:center;background-size:cover;width:40px;height:34px;display:block;float:right;margin-right:24%" ng-click="utils.goToPage('menu/mediosDePago')"></span>
      </div>
    </ion-footer-bar>
    <ion-content style="overflow:auto" scroll="true" style="background-color:white!important">
          <div class="col">
            <div>
                <img src="img/LOGO GO TAP SOBRE NUBE VERDE.png" style="margin-top:30px;width:120px;height:100px">
            </div>
            
            <div style="margin-top:20px">
                <input type="text" ng-model="claveAntigua" style="width:285px;color:#777777;font-size:22px;text-align:center;letter-spacing:-2px;margin-top:30px" placeholder="Clave Anterior"></input>
                <span style="width:290px;border-bottom:2px solid #0068a6;display:block;position:relative;left:8px;top:-7px;margin-bottom:15px"></span>

                <input type="text" ng-model="claveNueva" style="width:285px;color:#777777;font-size:22px;text-align:center;letter-spacing:-2px;margin-top:30px" placeholder="Clave Nueva"></input>
                <span style="width:290px;border-bottom:2px solid #0068a6;display:block;position:relative;left:8px;top:-7px;margin-bottom:15px"></span>
                
                <input type="text" ng-model="claveRepetida" style="width:285px;color:#777777;font-size:22px;text-align:center;letter-spacing:-2px;margin-top:30px" placeholder="Repetir Clave"></input>
                <span style="width:290px;border-bottom:2px solid #0068a6;display:block;position:relative;left:8px;top:-7px;margin-bottom:15px"></span>
          </div>
  </ion-content>
</ion-view> 
