<ion-view>
    <ion-nav-bar class="bar-stable bar-gotap">
      <ion-nav-buttons side="left">
        <i class="ion-arrow-left-c" style="font-size:27px;margin-left:5px;position:relative;top:3px" ng-click="goBack()"></i>
      </ion-nav-buttons> 
    </ion-nav-bar>
    <ion-header-bar align-title="tcenter" class="bar-light" style="background-color:#0065a3">
       <label class="letraGoTap" style="font-weight:bolder;color:white;letter-spacing:-1px;font-size:21px;width:200px;position:relative;left:40px;line-height:35px">Historial</label>
       <div style="background:url(img/iconos.png) no-repeat;background-position:0 0;background-size:cover;display:block;width:40px;height:80px;position:relative;top:-20px;left: 18%"></div>
       <label style="position:absolute;border-color:#0065a3 transparent transparent;border-style:solid;border-width:20px;height:0;width:0;right:20px;top:40px"></label>
    </ion-header-bar>
    <ion-footer-bar align-title="center" style="background-color:#222222">
      <div style="text-align:center;width:100%;margin:0 12%">
        <span style="background:url(img/iconomovil.png) no-repeat;background-position:center;background-size:cover;width:40px;height:34px;display:block;float:left" ng-click="utils.goToPage('menu/recargaAhora')"></span>
        <span style="background:url(img/iconomenu.png) no-repeat;background-position:center;background-size:cover;width:40px;height:34px;display:block;float:right" ng-click="showGotapMenu()"></span>
        <span style="background:url(img/iconodinero.png) no-repeat;background-position:center;background-size:cover;width:40px;height:34px;display:block;float:right;margin-right:24%" ng-click="utils.goToPage('menu/mediosDePago')"></span>
      </div>
    </ion-footer-bar>
    <ion-content style="overflow:inherit" scroll="true" style="background-color:white!important">
    <ion-refresher style="letter-spacing:-2px" pulling-text="Arrastra para recargar..."on-refresh="getTransactions()"></ion-refresher>
          <div class="col">
            <!--Reemplazar cuando se tenga el objeto, en ng-repeat, para repetir las divs-->
            <div ng-repeat="transaction in transactions" style="margin:35px 0 35px 5%;width:280px;height:230px;background:#f1f1f1">
              <div style="width:280px;height:250px;background:#f1f1f1">
                  <div style="color:#dc1414;font-size:20px;letter-spacing:-2px;text-align:left;padding:15px 0 0 15px">No.FACTURA</div>
                  <div style="color:#2b2b2b;font-size:15px;text-align:left;padding:10px 0 0 15px"><b>Fecha:</b> <span style="color:red">{{ formatDate(transaction.fechaTransaccion)}}</span></span></div>
                  <div style="color:#2b2b2b;font-size:15px;text-align:left;padding:10px 0 0 15px"><b>Tarjeta:</b> <span style="color:red">{{ transaction.numeroTarjeta}}</span></div>
                  <div style="color:#2b2b2b;font-size:15px;text-align:left;padding:10px 0 0 15px"><b>No.Localización:</b> <span style="color:red">{{ transaction.localizacion}}</span></div>
                  <div style="color:#2b2b2b;font-size:15px;text-align:left;padding:10px 0 0 15px"><b>Monto:</b> <span style="color:red">{{ transaction.importe}} Colones</span></div>
                  <div style="color:#2b2b2b;font-size:15px;text-align:left;padding:10px 0 0 15px"><b>Identificación:</b> <span style="color:red">{{ transaction.id}}</span></div>
                  <div style="color:#2b2b2b;font-size:15px;text-align:left;padding:10px 0 0 15px"><b>No.Teléfono:</b> <span style="color:red">{{ transaction.telefono}}</span></div>
                </div>
             </div>
  </ion-content>
</ion-view> 
