<ion-view>
  <ion-nav-bar class="bar-stable bar-gotap">
      <ion-nav-buttons side="left">
        <i class="ion-arrow-left-c" style="font-size:27px;margin-left:5px;position:relative;top:3px" ng-click="goBack()"></i>
      </ion-nav-buttons> 
  </ion-nav-bar>
    <ion-header-bar align-title="tcenter" class="bar-light" style="background-color:#0065a3">
       <label class="letraGoTap" style="font-weight:bolder;color:white;letter-spacing:-1px;font-size:21px;width:200px;position:relative;left:40px;line-height:35px">Mapa</label>
       <label style="position:absolute;border-color:#0065a3 transparent transparent;border-style:solid;border-width:20px;height:0;width:0;right:20px;top:40px"></label>
  </ion-header-bar>
  <ion-footer-bar class="bar-dark" align-title="center" style="background-color:transparent!important">
    <div style="width:70px"class="button button-positive" ng-click="buttonHere()">Buscá</div>
  </ion-footer-bar>  
  <ion-content scroll="false" style="bottom:0">
      <div id="map" data-tap-disabled="true"></div>
  </ion-content>
</ion-view>
