<ion-view view-title="MEDIOS DE PAGO">
    <ion-content>
        <div class="row " >
            <div class="col">
                <ion-nav-bar class="bar-stable bar-gotap">
                    <!--Just the menu toggle-->
                    <ion-nav-buttons side="left">
                        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                        </button>
                        <h1 class="title letraGoTap" style="text-align: left">MEDIOS DE PAGO</h1>
                    </ion-nav-buttons>
                </ion-nav-bar>
            </div>
        </div>

        <div class="row">
            <div class="col-5"></div>
            <div class="col">
                <form class="checkout">
                    <div class="checkout-header">
                        <h1 class="checkout-title">
                            INTRODUCE LOS DATOS DE LA NUEVA TARJETA
                        </h1>
                    </div>
                    <p>
                        <input style="text-align: center" type="text" class="checkout-input2 checkout-name" placeholder="Nombre Apellido" autofocus ng-model="titular">
                        <input style="text-align: center" type="number" class="checkout-input2 checkout-exp" placeholder="MM" ng-model="mes">
                        <input style="text-align: center" type="number" class="checkout-input2 checkout-exp" placeholder="AA" ng-model="ano">
                    </p>
                    <p>
                        <input style="text-align: center" id="validarTarjeta" type="number" class="checkout-input2 checkout-card" placeholder="4111 1111 1111 1111" ng-model="numero">
                        <input style="text-align: center" type="number" class="checkout-input2 checkout-cvc" placeholder="CVC" ng-model="cvc" >
                    </p>
                    <p>
                        <input type="submit" value="Añadir Tarjeta" class="checkout-btn" ng-click="addTarjeta(numero, titular, mes, ano, cvc)" >
                    </p>
                </form>
            </div>
            <div class="col-5"></div>
        </div>

        <div class="row" style=" margin-top: -15% !important" ng-repeat="tarjeta in tarjetas" ng-show="{{tarjeta.estado=== 'activa'}}">
           
            <form class="checkout"  >
                <p>
                    <span style="padding: 4px; text-align: center" class="checkout-input checkout-name">{{tarjeta.nombrePropietario + ' ' + tarjeta.apellidoPropietario}} </span>
                    <span style="padding: 4px; text-align: center"  class="checkout-input checkout-exp">{{getMonth(tarjeta.caducidad)}}</span>
                    <span  style="padding: 4px; text-align: center" class="checkout-input checkout-exp"> {{getYear(tarjeta.caducidad)}}</span>
                </p>
                <p>
                    <span  style="padding: 4px; text-align: center" class="checkout-input checkout-card"> {{tarjeta.numero}} </span>
                    <span style="padding: 4px; text-align: center"   class="checkout-input checkout-cvc">{{tarjeta.cvc}}</span>
                </p>
                <p>
                    <input type="submit" value="Eliminar Tarjeta" class="delcheckout-btn" ng-click="eliminarTarjeta({{tarjeta.numero}})" >
                </p>
            </form>
        </div>

    </ion-content>
</ion-view>