 <ion-side-menus enable-menu-with-back-views="true">
      <ion-side-menu-content class="letraGoTap backgroundgoTap"  style="overflow:auto" drag-content="false">
        <ion-nav-view name="recargaAhora"></ion-nav-view> <!-- La vista por defecto-->
      </ion-side-menu-content>

    <ion-side-menu class="blackClass" side="left">
      <ion-header-bar class="bar-stable bar-gotap">
        <h1 class="title">GoTap</h1>
      </ion-header-bar>
      <ion-content>
        <ion-list >
          <ion-item nav-clear menu-close href="#/menu/recargaAhora">
            RECARGAR AHORA
          </ion-item>
          <ion-item  nav-clear menu-close href="#/menu/transacciones">
            TRANSACCIONES
          </ion-item>
          <ion-item  nav-clear menu-close href="#/menu/mediosDePago">
            MEDIOS DE PAGO
          </ion-item>
          <ion-item  nav-clear menu-clse href="#/menu/misDatos">
            IDENTIFICACIÓN
          </ion-item>
          <ion-item nav-clear menu-clse href="#/menu/misNumeros">
            MIS NÚMEROS
          </ion-item>
          <ion-item nav-clear menu-close href="#/menu/login">
            SALIR
          </ion-item>
        </ion-list>
        <div class="row">
        </ion-content>
      </ion-side-menu>
</ion-side-menus>
