<ion-view>
    <ion-nav-bar class="bar-stable bar-gotap2">
      <ion-nav-buttons side="left">
        <i class="ion-arrow-left-c" style="font-size:27px;margin-left:5px;position:relative;top:3px" ng-click="goBack()"></i>
      </ion-nav-buttons> 
    </ion-nav-bar>
    <ion-header-bar align-title="tcenter" class="bar-light" style="background-color:#0065a3">
       <label class="letraGoTap" style="font-weight:bolder;color:white;letter-spacing:-2px;font-size:21px;width:200px;position:relative;left:40px;line-height:35px">Perfil</label>
       <div style="background:url(img/iconos.png) no-repeat;background-position:-122px 0px;background-size:cover;display:block;width:40px;height:80px;position:relative;top:-20px;left:18%"></div>
       <label style="position:absolute;border-color:#0065a3 transparent transparent;border-style:solid;border-width:20px;height:0;width:0;right:20px;top:40px"></label>
    </ion-header-bar>
    <ion-footer-bar align-title="center" style="background-color:#222222">
      <div style="text-align:center;width:100%;margin:0 12%">
        <span style="background:url(img/iconomovil.png) no-repeat;background-position:center;background-size:cover;width:40px;height:34px;display:block;float:left" ng-click="utils.goToPage('menu/recargaAhora')"></span>
        <span style="background:url(img/iconomenu.png) no-repeat;background-position:center;background-size:cover;width:40px;height:34px;display:block;float:right" ng-click="showGotapMenu()"></span>
        <span style="background:url(img/iconodinero.png) no-repeat;background-position:center;background-size:cover;width:40px;height:34px;display:block;float:right;margin-right:24%" ng-click="utils.goToPage('menu/mediosDePago')"></span>
      </div>
    </ion-footer-bar>
    <ion-content style="overflow:auto" scroll="true" style="background-color:white!important">
          <div class="col">
            <div style="margin-top:40px">
                <span style="text-align:left;width:290px;border-bottom:2px solid #0068a6;display:block;position:relative;left:8px;top:-7px;margin-bottom:25px">
                    <label style="position:relative;left:2%;color:#777777;font-size:18px;letter-spacing:-1px">{{nombre}}</label>
                </span>
                <span style="text-align:left;width:290px;border-bottom:2px solid #0068a6;display:block;position:relative;left:8px;top:-7px;margin-bottom:25px">
                    <label style="position:relative;left:2%;color:#777777;font-size:18px;letter-spacing:-1px">{{apellido}} {{apellido2}}</label>
                </span>
                <span style="text-align:left;width:290px;border-bottom:2px solid #0068a6;display:block;position:relative;left:8px;top:-7px;margin-bottom:25px">
                    <label style="position:relative;left:2%;color:#777777;font-size:18px;letter-spacing:-1px">{{identificador}}</label>
                </span>
                <span style="text-align:left;width:290px;border-bottom:2px solid #0068a6;display:block;position:relative;left:8px;top:-7px;margin-bottom:25px">
                    <label style="position:relative;left:2%;color:#777777;font-size:18px;letter-spacing:-1px">{{provincia}}</label>
                </span>
                <span style="text-align:left;width:290px;border-bottom:2px solid #0068a6;display:block;position:relative;left:8px;top:-7px;margin-bottom:25px">
                    <label style="position:relative;left:2%;color:#777777;font-size:18px;letter-spacing:-1px">{{canton}}</label>
                </span>
                <span style="text-align:left;width:290px;border-bottom:2px solid #0068a6;display:block;position:relative;left:8px;top:-7px;margin-bottom:25px">
                    <label style="position:relative;left:2%;color:#777777;font-size:18px;letter-spacing:-1px">{{email}}</label>
                </span>
                <span style="text-align:left;width:290px;border-bottom:2px solid #0068a6;display:block;position:relative;left:8px;top:-7px;margin-bottom:25px">
                    <label style="position:relative;left:2%;color:#777777;font-size:18px;letter-spacing:-1px">{{telefono}}</label>
                </span>
              
                <div style="margin:25px 0;width:100%">
                    <span style="color:#99ba25;letter-spacing:-1px;font-size:24px;font-weight:bolder;line-height:30px">Invitá a un amigo!</span>
                </div>
          </div>
  </ion-content>
</ion-view> 
