<ion-view>
    <ion-header-bar align-title="tcenter" class="bar-light" style="background-color:#94c11e">
        <label class="letraGoTap" style="font-weight:bolder;color:white;letter-spacing:-2px;font-size:21px;width:200px;position:relative;left:30px;line-height:35px">Información Personal</label>
        <img src="img/logoheader.png" style="width:70px;height:44px;position:relative;left:40px"></img>
        <label style="position:absolute;border-color:#94c11e transparent transparent;border-style:solid;border-width:20px;height:0;width:0;right:20px;top:40px"></label>
    </ion-header-bar>
    <ion-footer-bar align-title="center" style="background-color:#222222">
      <div style="margin:0 25%;width:160px" ng-click="openWeb('http://www.mygotap.com')"><label style="font-size:17px;letter-spacing:-1px;color:#f8f8f8">www.mygotap.com</label></div>
    </ion-footer-bar>
    <ion-content style="overflow:auto" scroll="true" style= "background-color:white!important">
        <div class="row">
            <div class="col">
                <div style="margin-top:20px">
                    <form id ="registro1step">
                    <input id="rName" name= "rName" type="text" ng-model="nombre" style="width:285px;color:#777777;font-size:18px;letter-spacing:-1px" placeholder="Nombre">
                    <span style="width:290px;border-bottom:2px solid #0068a6;display:block;position:relative;left:8px;top:-7px;margin-bottom:15px"></span>

                    <input name= "LastName" type="text" ng-model="apellido" style="width:285px;color:#777777;font-size:18px;letter-spacing:-1px" placeholder="Apellidos">
                    <span style="width:290px;border-bottom:2px solid #0068a6;display:block;position:relative;left:8px;top:-7px;margin-bottom:15px"></span>

                    <input name= "rIdentifier" type="text" ng-model="identificador" style="width:285px;color:#777777;font-size:18px;letter-spacing:-1px" placeholder="Identificación">
                    <span style="width:290px;border-bottom:2px solid #0068a6;display:block;position:relative;left:8px;top:-7px;margin-bottom:15px"></span>

                    <div style="height:52px">
                        <input name="rProvince"  type="text" ng-readonly="true" style="background-color:white;width:285px;color:#777777;font-size:18px;letter-spacing:-1px" placeholder="Provincia">
                        <span style="width:290px;border-bottom:2px solid #0068a6;display:block;position:relative;left:8px;top:-7px;margin-bottom:15px"></span>

                        <select id="prueba" ng-model="provincia" ng-change="getCantones(provincia)" style="position:relative;top:-50px;left:42px;width:200px">
                            <option ng-selected="true">Escoge Provincia</option>
                            <option ng-repeat="provincia in provincias" >{{provincia.provincia}}</option>
                        </select>
                    </div>

                    <div style="height:52px">
                        <input name ="rCanton"  type="text" ng-readonly="true" style="background-color:white;width:285px;color:#777777;font-size:18px;letter-spacing:-1px" placeholder="Cantón">
                        <span style="width:290px;border-bottom:2px solid #0068a6;display:block;position:relative;left:8px;top:-7px;margin-bottom:15px"></span>

                        <select ng-model="canton" style="position:relative;top:-50px;left:42px;width:200px">
                            <option  ng-repeat="canton in cantones" >{{canton.canton}}</option>
                        </select>
                    </div>
                    </form>
                    <div style="margin-top:0">
                        <div style="background: url(img/flechaderecha.png)no-repeat;width:80px;height:46px;background-size:contain;float:left;margin-left:17%" ng-click="goToPage('login')"></div>
                        <div style="background: url(img/flechaizquierda.png)no-repeat;width:80px;height:46px;background-size:contain;float:left;margin-left:17%" ng-click="Save1(nombre, apellido, identificador, provincia, canton)"></div>
                    </div>

                    <div style="margin-top:75px">
                        <label ng-click="goToPage('login')" style="color:#777777;border-bottom:1px solid black;text-decoration:none;letter-spacing:-1px;font-size:16px">Ya tenés cuenta? Inicia Sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view> 