<ion-view view-title="TRASNACCIONES">
    <ion-content>

        <div class="row " >
            <div class="col">
                <ion-nav-bar class="bar-stable bar-gotap">
                    <!--Just the menu toggle-->
                    <ion-nav-buttons side="left">
                        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                        </button>
                        <h1 class="title letraGoTap" style="text-align: left">TRANSACCIONES</h1>
                    </ion-nav-buttons> 
                </ion-nav-bar>
            </div>
        </div>
        <br>
            <br>    <br>
                <br>
                      <!--<ion-refresher pulling-text="Arrastra para recargar..."on-refresh="getTransactions()"></ion-refresher>-->
                
        <div class="row" ng-repeat="transaction in transactions " style="padding: 0;">

            <div class="col-5"></div>
            <div class="col" style="margin-bottom: 0px">
                <form class="checkout">
                    <div class="row">

                        <div class="col">
                            <span style="padding: 4px; text-align: center" ><b>Fecha: </b>{{ formatDate(transaction.fechaTransaccion)}} </span>
                        </div>
                        <div class="col">

                            <span style="padding: 4px; text-align: center"><b>Importe: </b>{{ transaction.importe}} Colones </span>
                        </div>  

                       
                    </div>
                    <div class="row">

                        <div class="col">
                            <span style="padding: 4px; text-align: center" ><b>Tarjeta: </b>{{ transaction.numeroTarjeta}}</span>
                        </div>
                        <div class="col">
                            <span style="padding: 4px; text-align: center" ><b>Id: </b>{{ transaction.id}}</span>
                        </div>
                    </div>
                          <div class="row">

                        <div class="col">
                            <span style="padding: 4px; text-align: center" ><b>Tag: </b>{{ transaction.tag}}</span>
                        </div>
                        <div class="col">
                            <span style="padding: 4px; text-align: center" ><b>Localización: </b>{{ transaction.localizacion}}</span>
                        </div>
                    </div>

                </form>

                <div class="col-5"></div>
            </div>
    </ion-content>
</ion-view>