<ion-view>
    <ion-nav-bar class="bar-stable bar-gotap2">
      <ion-nav-buttons side="left">
        <i class="ion-arrow-left-c" style="font-size:27px;margin-left:5px;position:relative;top:3px" ng-click="goBack()"></i>
      </ion-nav-buttons> 
    </ion-nav-bar>
    <ion-header-bar align-title="tcenter" class="bar-light" style="background-color:#0065a3">
       <label class="letraGoTap" style="font-weight:bolder;color:white;letter-spacing:-2px;font-size:21px;width:200px;position:relative;left:40px;line-height:35px">Ayuda</label>
       <div style="background:url(img/iconos.png) no-repeat;background-position:-162px 0px;background-size:cover;display:block;width:40px;height:80px;position:relative;top:-20px;left: 18%"></div>
       <label style="position:absolute;border-color:#0065a3 transparent transparent;border-style:solid;border-width:20px;height:0;width:0;right:20px;top:40px"></label>
    </ion-header-bar>
    <ion-footer-bar align-title="center" style="background-color:#222222">
      <div style="text-align:center;width:100%;margin:0 12%">
        <span style="background:url(img/iconomovil.png) no-repeat;background-position:center;background-size:cover;width:40px;height:34px;display:block;float:left" ng-click="utils.goToPage('menu/recargaAhora')"></span>
        <span style="background:url(img/iconomenu.png) no-repeat;background-position:center;background-size:cover;width:40px;height:34px;display:block;float:right" ng-click="showGotapMenu()"></span>
        <span style="background:url(img/iconodinero.png) no-repeat;background-position:center;background-size:cover;width:40px;height:34px;display:block;float:right;margin-right:24%" ng-click="utils.goToPage('menu/mediosDePago')"></span>
      </div>
    </ion-footer-bar>
    <ion-content style="overflow:auto" scroll="true" style="background-color:white!important">
          <div class="col">
            <div style="margin-top:40px">
              <span style="width:290px;border-bottom:2px solid #5f5f5f;display:block;position:relative;left:8px;top:-7px;text-align:left;font-size:26px;font-weight:bolder;color:#0065a3;letter-spacing:-2px;line-height:25px;margin-bottom:25px">Atención al Cliente</span>
              <div style="color:#777777;letter-spacing:-1px;font-size:20px;text-align:left;margin-left:4%">Problemas con tu recarga?</div>
              <div style="color:#212121;letter-spacing:-1px;font-size:20px;line-height:30px;margin-bottom:20px;text-align:left;margin-left:4%">800 vinet</div>
              <div style="color:#777777;letter-spacing:-1px;font-size:20px;text-align:left;margin-left:4%">Problemas con el app?</div>
              <div style="color:#212121;letter-spacing:-1px;font-size:20px;line-height:30px;margin-bottom:20px;text-align:left;margin-left:4%">800 gotap</div>
              <div style="color:#212121;letter-spacing:-1px;font-size:20px;width:295px;margin:55px 0 0">www.gotapcr.com</div>
              <div style="color:#777777;letter-spacing:-1px;font-size:14px;width:220px;margin:25px 15% 0">Entrá a nuestra web y chatea con algún miembro de nuestro servicio al cliente para más ayuda.</div>
              <!--<div style="background:url(img/REDES.jpg)no-repeat;background-size:cover;background-position:-118px 0;width:60px;height:55px;position:relative;left:40%;margin-top:15px"></div>-->
            </div>
          </div>
  </ion-content>
</ion-view> 
