<ion-view>
    <ion-nav-bar class="bar-stable bar-gotap2">
      <ion-nav-buttons side="left">
        <i class="ion-arrow-left-c" style="font-size:27px;margin-left:5px;position:relative;top:3px" ng-click="goBack()"></i>
      </ion-nav-buttons> 
    </ion-nav-bar>
    <ion-header-bar align-title="tcenter" class="bar-light" style="background-color:#0065a3">
       <label class="letraGoTap" style="font-weight:bolder;color:white;letter-spacing:-1px;font-size:21px;width:200px;position:relative;left:40px;line-height:35px">Configuración</label>
       <div style="background:url(img/iconos.png) no-repeat;background-position:-82px 0px;background-size:cover;display:block;width:40px;height:80px;position:relative;top:-20px;left: 18%"></div>
       <label style="position:absolute;border-color:#0065a3 transparent transparent;border-style:solid;border-width:20px;height:0;width:0;right:20px;top:40px"></label>
    </ion-header-bar>
    <ion-footer-bar align-title="center" style="background-color:#222222">
      <div style="text-align:center;width:100%;margin:0 12%">
        <span style="background:url(img/iconomovil.png) no-repeat;background-position:center;background-size:cover;width:40px;height:34px;display:block;float:left" ng-click="utils.goToPage('menu/recargaAhora')"></span>
        <span style="background:url(img/iconomenu.png) no-repeat;background-position:center;background-size:cover;width:40px;height:34px;display:block;float:right" ng-click="showGotapMenu()"></span>
        <span style="background:url(img/iconodinero.png) no-repeat;background-position:center;background-size:cover;width:40px;height:34px;display:block;float:right;margin-right:24%" ng-click="utils.goToPage('menu/mediosDePago')"></span>
      </div>
    </ion-footer-bar>
    <ion-content style="overflow:auto" scroll="true" style="background-color:white!important">
          <div class="col">
            <div style="margin-top:60px">
                <!--<input type="text" ng-model="nombre" style="width:285px;color:#99ba25;font-size:18px;letter-spacing:-1px;font-weight:bolder" placeholder="General"></input>-->
                <span style="width:290px;border-bottom:2px solid #5f5f5f;display:block;position:relative;left:8px;top:-7px;text-align:left;font-size:26px;font-weight:bolder;color:#0065a3;letter-spacing:-2px;line-height:25px;margin-bottom:30px">General</span>

                <span style="width:290px;border-bottom:2px solid #0068a6;display:block;position:relative;left:8px;top:-7px;text-align:left;font-size:18px;color:#828282;letter-spacing:-1px;margin-bottom:20px" ng-click="utils.goToPage('menu/cambiarClave')">Cambiar Clave</span>
                
                <span style="width:290px;border-bottom:2px solid #0068a6;display:block;position:relative;left:8px;top:-7px;text-align:left;font-size:18px;color:#828282;letter-spacing:-1px;margin-bottom:70px" ng-click="">Borrar Historial de Facturas</span>
                
                <span style="width:290px;border-bottom:2px solid #5f5f5f;display:block;position:relative;left:8px;top:-7px;text-align:left;font-size:26px;font-weight:bolder;color:#99ba25;letter-spacing:-2px;line-height:25px;margin-bottom:30px">Revisá nuestras Redes!</span>
                                
                <div id="social">
                  <div style="background:url(img/REDES.jpg)no-repeat;background-size:cover;background-position:0 0;width:64px;height:55px;position:relative;left:20%;margin-top:15px" ng-click="utils.openWeb('https://www.instagram.com/gotapapp')"></div>
                  <div style="background:url(img/REDES.jpg)no-repeat;background-size:cover;background-position:-61px 0;width:64px;height:55px;position:relative;left:40%;top:-70px;margin-top:15px" ng-click="utils.openWeb('https://www.snapchat.com/add/gotapapp')"></div>
                  <div style="background:url(img/REDES.jpg)no-repeat;background-size:cover;background-position:-120px 0;width:64px;height:55px;position:relative;left:59%;top:-140px;margin-top:15px" ng-click="utils.openWeb('https://www.facebook.com/gotapapp')"></div>
                </div>
          </div>
  </ion-content>
</ion-view> 
