<ion-modal-view class="wblur">
  <ion-header-bar>
    <h1 class="title"></h1>
    <!--<button class="button button-clear icon ion-ios-close-empty" ng-click="utils.goToPage('')"></button>-->
  </ion-header-bar>
  <ion-content scroll="true" ng-click="showGotapMenu.closeModal()">
  </ion-content>
  <div style="position:absolute;bottom:5px;width:100%;height:164px;color:white">
      <div style="background-color:#0065a3;height:45px">
        <label style="margin-left:3%;color:white;font-size:26px;font-weight:bolder;letter-spacing:-2px">GoTap</label>
        <label style="color:#000017;position:relative;top:-8px;right:-45%">{{ Nombre }}</label>
        <label style="color:#000017;position:relative;top:7px;right:-25%">{{ Telefono }}</label>
      </div>
      <label style="position:absolute;border-color:#0065a3 transparent transparent;border-style:solid;border-width:20px;height:0;width:0;left:5%;top:40px"></label>
      <div style="background-color:white;height:80px">
        <div style="background:url(img/iconos.png) no-repeat;background-position: 0 0;background-size:cover;display:block;width:40px;height:80px;position:relative;top:4px;left:10%" ng-click="goTo('menu/historial')"></div>
        <div style="background:url(img/iconos.png) no-repeat;background-position:-40px 0px;background-size:cover;display:block;width:40px;height:80px;position:relative;top:-75px;left:22%" ng-click="goTo('menu/misNumeros')"></div>
        <div style="background:url(img/iconos.png) no-repeat;background-position:-83px 0px;background-size:cover;display:block;width:40px;height:80px;position:relative;top:-155px;left:35%" ng-click="goTo('menu/configuracion')"></div>
        <div style="background:url(img/iconos.png) no-repeat;background-position:-122px 0px;background-size:cover;display:block;width:40px;height:80px;position:relative;top:-235px;left:47%" ng-click="goTo('menu/misDatos')"></div>
        <div style="background:url(img/iconos.png) no-repeat;background-position:-162px 0px;background-size:cover;display:block;width:40px;height:80px;position:relative;top:-315px;left:59%" ng-click="goTo('menu/ayuda')"></div>
        <div style="color:#000017;position:relative;top:-368px;left:-12%;float:right;font-weight:bolder;width:40px;font-size:16px" ng-click="utils.logoff();showGotapMenu.closeModal()">Salir</div>
      </div>
  </div>
</ion-modal-view>