<ion-view title="recargaAhora">
    <ion-content>
        <div class="row " >
            <div class="col">
                <ion-nav-bar class="bar-stable bar-gotap">
                    <!--Just the menu toggle-->
                    <ion-nav-buttons side="left">
                        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                        </button>
                        <h1 class="title letraGoTap" style="text-align: center">IDENTIFICACIÓN</h1>
                    </ion-nav-buttons> 
                </ion-nav-bar>
            </div>
        </div>
        <br
            <div class="row " >
            <div class="col">
                <img src="img/nube.png" id="imagenesResizables">
            </div>
        </div>
        <div class="row ">
            <div class="col col-10" >
            </div>
            <div class="col col-33" >
                <img src="img/tarjeta_credito.png" id="imagenesResizables" >
            </div>
            <div class="col" >
                <span class="txtCredit">Escoge la tarjeta que quieres utilizar</span>
                <select id="tarjMarcado" style="text-align:center; color:#000;border:2px solid #000;padding:5px;font-weight:normal">
                    <option ng-repeat="numero in tarjetas">{{numero.numero}}</option>
                    <!--    <option ng-repeat="tipo in tarjetas">{{tipo.tipo}}</option>-->
                </select>
            </div>
            <div class="col col-10" >
            </div>
        </div>
        <div class="row ">
            <div class="col col-10" >
            </div>
            <div class="col col-33">
                <img src="img/celular.png" id="imagenesResizables">
            </div>
            <div class="col" >
                <span class="txtPhone"> y el número de teléfono que quieres recargar</span>
                <select  id="telfMarcado" style="text-align:center; color:#000;border:2px solid #000;padding:5px;font-weight:normal">
                    <option ng-repeat="numero in telefonos">{{numero.alias}}</option>
                </select>
            </div>
            <div class="col col-10" >
            </div>
        </div>

        <div style="text-align:center"><button class="button button-gotap letraGoTap butrecarga"ng-click="addTransaction()">RECARGAR</button></div>

        <!-- contenido del NFC  -->

        <!-- contenido del NFC -->
        <div ng-if="tag.id" ng-init="showTag()"> </div>       
            <!-- contenido del NFC -->

    </ion-content>
</ion-view>