<ion-view>
    <ion-header-bar align-title="tcenter" class="bar-light" style="background-color:#94c11e">
       <img src="img/logoheader.png" style="width:70px;height:44px;position:relative;left:40%"></img>
       <label style="position:absolute;border-color:#94c11e transparent transparent;border-style:solid;border-width:20px;height:0;width:0;right:20px;top:40px"></label>
    </ion-header-bar>
    <ion-footer-bar align-title="center" style="background-color:#222222">
      <div style="text-align:center;width:100%;margin:0 12%">
        <span style="background:url(img/iconomovil.png) no-repeat;background-position:center;background-size:cover;width:40px;height:34px;display:block;float:left" ng-click="utils.goToPage('menu/recargaAhora')"></span>
        <span style="background:url(img/iconomenu.png) no-repeat;background-position:center;background-size:cover;width:40px;height:34px;display:block;float:right" ng-click="showGotapMenu()"></span>
        <span style="background:url(img/iconodinero.png) no-repeat;background-position:center;background-size:cover;width:40px;height:34px;display:block;float:right;margin-right:24%" ng-click="utils.goToPage('menu/mediosDePago')"></span>
      </div>
    </ion-footer-bar>
    <ion-content style="overflow:auto" scroll="true" style="background-color:white!important">
          <div class="col">
            <div style="background: url(img/iconoazuldinero.png)no-repeat;width:60%;height:75px;background-size:cover;margin:30px 36% 0" ng-click="goToPage('login')"></div>

            <div style="margin-top:45px">           
                <div>
                    <div style="color:#3f3f3f;letter-spacing:-1px;font-size:20px;line-height:30px;margin-bottom:20px">Próximamente!</div>
                    <div style="color:#3f3f3f;letter-spacing:-1px;font-size:16px;width:295px;margin:auto;line-hegiht:20px">Revisá nuestra web, o redes sociales para más información sobre nuestros medios de pago.</div>
                    <div style="color:#3f3f3f;letter-spacing:-1px;font-size:20px;width:295px;margin:25px 0 0">www.mygotap.com</div>
                    <div style="background:url(img/REDES.jpg)no-repeat;background-size:cover;background-position:-118px 0;width:60px;height:55px;position:relative;left:40%;margin-top:15px" ng-click="openWeb('https://www.facebook.com/gotapapp')"></div>
                </div>
          </div>
  </ion-content>
</ion-view> 

