<ion-view>
    <ion-header-bar align-title="tcenter" class="bar-light" style="background-color:#94c11e">
       <label class="letraGoTap" style="font-weight:bolder;color:white;letter-spacing:-2px;font-size:21px;width:200px;position:relative;left:30px;line-height:35px">Cuenta</label>
       <img src="img/logoheader.png" style="width:70px;height:44px;position:relative;left:40px"></img>
       <label style="position:absolute;border-color:#94c11e transparent transparent;border-style:solid;border-width:20px;height:0;width:0;right:20px;top:40px"></label>
    </ion-header-bar>
    <ion-footer-bar align-title="center" style="background-color:#222222">
      <div style="margin:0 25%;width:160px" ng-click="openWeb('http://www.mygotap.com')"><label style="font-size:17px;letter-spacing:-1px;color:#f8f8f8">www.mygotap.com</label></div>
    </ion-footer-bar>
    <ion-content style="overflow:auto" scroll="true" style="background-color:white!important">
             <div class="row">
            <div class="col">
            <div style="margin-top:50px">
               
                <div style="margin-top:-10px">
                  <input id="rUsuario" type="text" ng-model="usuario" style="width:285px;color:#777777;font-size:18px;letter-spacing:-1px" placeholder="Usuario">
                  <span style="width:290px;border-bottom:2px solid #0068a6;display:block;position:relative;left:8px;top:-7px;margin-bottom:15px"></span>
                  <div style="background:url(img/icono_usuario.png)no-repeat;background-size:contain;width:20px;height:20px;position:relative;left:88%;top:-46px;display:block"></div>
                </div>

                <div style="margin:-15px 0 -20px">
                  <input  id="rPassword" type="password" maxlength="6" ng-model="clave" style="width:285px;color:#777777;font-size:18px;letter-spacing:-1px" placeholder="Clave de 6 dígitos">
                  <span style="width:290px;border-bottom:2px solid #0068a6;display:block;position:relative;left:8px;top:-7px;margin-bottom:15px"></span>
                  <div style="background:url(img/candado.png)no-repeat;background-size:contain;width:20px;height:20px;position:relative;left:88%;top:-46px;display:block"></div>
                </div>
                
                <input id="rPassword2" type="password" maxlength="6" ng-model="repetirclave" style="width:285px;color:#777777;font-size:18px;letter-spacing:-1px" placeholder="Repita su Clave">
                <span style="width:290px;border-bottom:2px solid #0068a6;display:block;position:relative;left:8px;top:-7px;margin-bottom:15px"></span>
                
                <input id="rEmail" type="email" ng-model="email" style="width:285px;color:#777777;font-size:18px;letter-spacing:-1px" placeholder="Email">
                <span style="width:290px;border-bottom:2px solid #0068a6;display:block;position:relative;left:8px;top:-7px;margin-bottom:15px"></span>
                
                <input id="rCelular" type="number" maxlength="9" ng-model="celular" style="width:285px;color:#777777;font-size:18px;letter-spacing:-1px" placeholder="Celular">
                <span style="width:290px;border-bottom:2px solid #0068a6;display:block;position:relative;left:8px;top:-7px;margin-bottom:15px"></span>
                
                <div style="margin-top:30px">
                  <div style="background: url(img/flechaderecha.png)no-repeat;width:80px;height:46px;background-size:contain;float:left;margin-left:17%" ng-click="goToPage('registro')"></div>
                  <div style="background: url(img/flechaizquierda.png)no-repeat;width:80px;height:46px;background-size:contain;float:left;margin-left:17%" ng-click="Save2(usuario, clave, repetirclave, email, celular)"></div>
                </div>
              </div>  
          </div>
              </div>
  </ion-content>
</ion-view> 