.mglft{
  margin-left:20px !important;
}

select {
  border-color: transparent;
  background-color: #ffd700;
  color:#000;
  font-weight: bold;
}

.telefonos {
  border-color: transparent;
  background-color: transparent;
  color: #444;
  font-weight: bold;
}

.custom-icon {
  color:#fff;
  font-weight: bold;
}
.custom-icon {
  color:#fff;
  font-weight: bold;
}
.custom-icontarjeta {
  color:black;
  font-weight: bold;

}

.custom-icon-sheet {
  color:#7CBF55;
  font-weight: bold;
}
.custom-icon-Delete{

  color:red;
  font-weight: bold;

}

.activated label{
  background-color: #181818;
  color: #181818;
}

.logoPrincipal{
  padding: 16px;
  text-align:center;
  border-color: #181818 ;
}

.tabs-gotap{
  background-color:#181818;
  border-color:#181818;
}

.tabs-gotap a {
  color:white;
}



summary{
  color:#fff;
  font-size: 1.2em;

}
label.activated {
/*  background-color: #181818 !important;
  border-color:#181818 !important;
  border-top:#444 !important;*/
}

.tpnt{
  background-color:transparent;
  border-color:transparent;
}

.al{
  text-align:left;
}
#botonEliminar{
border-radius: 50px;
}


@font-face
{
  font-family: goTapFont;
  src: url(../img/quicksand.otf);
}

.letraGoTap{
  font-family: goTapFont;
}

.backgroundinicial{
  background: url(../img/pantalla_inicial.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.backgroundgoTap{
  background: url(../img/fondo_verde.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.backgroundNube{
  background: url(../img/fondo_nube.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.backgroundready{
  background: url(../img/ya_estas_listo.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.bbcelular{
  background: url(../img/celular.png) no-repeat;
  display: block;
  width: 125px;
  height: 155px;
  float: left;
  margin:0 0 0 50px;
}


#imagenesResizables{
  max-width:100%;
  max-height:100%;
  margin-top:1em;

}

.clear{
  clear: both;
}

.butrecarga{
  width: 200px !important;
  height: 65px;
  font-size: 28px;
}

.txtCredit{

  float:left;
  margin-top: 1.2em;

}
.txtPhone{
  float:left;
  margin-top: 3.5em;
}

.txtcolor{
  color:#000;
}

.txtreg{
  font-size:14px !important;
}

.txtrecarga2{
  position:relative;
  top:46px;
  left:-15px;
  display:block;
  font-size:17px;
}

.center{
  text-align: center;
}

.margintop{
  margin-top:150px !important;
}

.loginfields{
  margin: 5px auto;
  border-radius:10px;
}

.txtbnd{
  width:200px;
  margin: 20px 0 -10px;
}

.button.button-gotap {
  font-size: 100%;
  max-width:100%;
  max-height:100%;
  border-color:#3ca64e;
  background-color: #3ca64e;
  color: #fff;
  border-radius: 50px;

}

.button.button-gotap:hover {
  color: #fff;
  text-decoration: none;
}

.button.button-gotap.active, .button.button-gotap.activated {
  border-color: #7CBF55;
  background-color: #7CBF55;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}

.button.button-gotap.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #33cd5f;
}

.button.button-gotap.button-icon {
  border-color: transparent;
  background: none;
}

.button.button-gotap.button-outline {
  border-color: #33cd5f;
  background: transparent;
  color: #33cd5f;
}

.button.button-gotap.button-outline.active, .button.button-gotap.button-outline.activated {
  background-color: #33cd5f;
  box-shadow: none;
  color: #fff;
}

.bar.bar-gotap {
  border-color:#3ca64e;
  background-color: #3ca64e;
  background-image: linear-gradient(0deg, #28a54c, #28a54c 50%, transparent 50%);
  color: #fff;
}

.bar.bar-gotap .title {
  color: #fff;
}

.bar.bar-gotap.bar-footer {
  background-image: linear-gradient(180deg, #28a54c, #0c63ee 50%, transparent 50%);
}

.item.item-gotap {
  border-color: #33cd5f;
  background-color: #7CBF55;
  color: #fff;
}

select#tarjetero option[value="Visa"]{
  background-image:url(male.png);
}

select#tarjetero option[value="Master Card"] {
  background-image:url(female.png);
}

select#tarjetero option[value="American Express"] {
  background-image:url(others.png);
}

.col{
  text-align:center !important;
}


.iconVolver:before,
.iconVolver{
  margin-top: 0.55em;
  color:#3ca64e;
  font-size:2em !important;
  display:block !important;
}

.viewgotap{
  overflow:auto;
  margin-top:35px;
}

.hache{
  color:#f8f8f8;
  font-size:1.2em !important;
  display:block !important;
}
.resumenTarjeta{
  color:#f8f8f8;
}

.inputTarjeta{
  background-color: rgba(221,221,221,0.8);
  font-family: inherit;
  color:#000 !important;
  width: 100%;
  box-sizing: border-box;
}

.butlog{
  width: 130px !important;
  height: 52px;
  font-size: 20px;
  line-height: 20px;
}

.butreg{
  width: 200px;
  height: 60px;
  display: block;
  background:url(../img/registrarse_primero.png) no-repeat;
}

.custom-item span{
  background-color: transparent;
  color:#000;
  text-align:left;
  font-size:14px;
}

.custom-item input{
  color:#000;
}

.custom-item {
  border-color:  transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  background-color: transparent;
}
.popup-body {

    text-align: center;
}

ion-content {
    
  background-color: #ffd700 !important;  
    
}

ion-side-menu-content{
    
      background-color: #ffd700 !important;  

}
ion-nav-view{
    
      background-color: #ffd700 !important;  

}

.menu .scroll-content {

    background-color: #fff !important;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}


.checkout {

  margin: 50px auto;
  padding: 15px;
  background: #f3f6fa;
  border: 1px solid;
  border-color: #c2cadb #bbc5d6 #b7c0cd;
  border-radius: 7px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.checkout > p {
  zoom: 1;
}
.checkout > p:before, .checkout > p:after {
  content: '';
  display: table;
}
.checkout > p:after {
  clear: both;
}
.checkout > p + p {
  margin-top: 15px;
}

.checkout-header {
  position: relative;
  margin: -15px -15px 15px;
}

.checkout-title {
    text-align: center;
  padding: 0 15px;
  line-height: 38px;
  font-size: 13px;
  font-weight: bold;
  color: #7f889e;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  background: #eceff5;
  border-bottom: 1px solid #c5ccdb;
  border-radius: 7px 7px 0 0;
  background-image: -webkit-linear-gradient(top, #f5f8fb, #e9edf3);
  background-image: -moz-linear-gradient(top, #f5f8fb, #e9edf3);
  background-image: -o-linear-gradient(top, #f5f8fb, #e9edf3);
  background-image: linear-gradient(to bottom, #f5f8fb, #e9edf3);
  -webkit-box-shadow: inset 0 1px white;
  box-shadow: inset 0 1px white;
}
.checkout-title:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}


input {
  margin: 0;
  line-height: normal;
  font-family: inherit;
  font-size: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.checkout-input2 {
    margin-left: 10%;
  float: left;
  padding: 0 7px;
  height: 32px;
  color: #525864;
  background: white;
  border: 1px solid;
  border-color: #b3c0e2 #bcc5e2 #c0ccea;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, #f6f8fa, white);
  background-image: -moz-linear-gradient(top, #f6f8fa, white);
  background-image: -o-linear-gradient(top, #f6f8fa, white);
  background-image: linear-gradient(to bottom, #f6f8fa, white);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
}
.checkout-input {
    margin-left: 0;
  float: left;
  padding: 0 7px;
  height: 32px;
  color: #525864;
  background: white;
  border: 1px solid;
  border-color: #b3c0e2 #bcc5e2 #c0ccea;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, #f6f8fa, white);
  background-image: -moz-linear-gradient(top, #f6f8fa, white);
  background-image: -o-linear-gradient(top, #f6f8fa, white);
  background-image: linear-gradient(to bottom, #f6f8fa, white);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
}
.checkout-input:focus {
  border-color: #46aefe;
  outline: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px #46aefe;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px #46aefe;
}
.lt-ie9 .checkout-input {
  line-height: 30px;
}

.checkout-name {
  width: 150px;
}

.checkout-card {
  width: 210px;
}

.checkout-exp,
.checkout-cvc {
  margin-left: 15px;
  width: 45px;
}

.checkout-btn {
  width: 100%;
  height: 34px;
  padding: 0;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid;
  border-color: #7CBF55;
  background: #7CBF55;
  border-radius: 4px;
 
}

.checkout {
    margin: 50px auto;
    padding: 15px;
    background: #f3f6fa;
    border: 1px solid;
    border-color: #c2cadb #bbc5d6 #b7c0cd;
    border-radius: 7px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.checkout2 {
    margin: 50px auto;
    padding: 15px;
    background: #f3f6fa;
    border: 1px solid;
    border-color: #c2cadb #bbc5d6 #b7c0cd;
    border-radius: 7px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.delcheckout-btn {
  width: 100%;
  height: 34px;
  padding: 0;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid;
  border-color: red;
  background: #e74c3c;
  border-radius: 4px;

}
.checkout-btn:active {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-color: #075bba #0c69d2 #0f7de9;
  background-image: -webkit-linear-gradient(top, #1281dc, #1593fc);
  background-image: -moz-linear-gradient(top, #1281dc, #1593fc);
  background-image: -o-linear-gradient(top, #1281dc, #1593fc);
  background-image: linear-gradient(to bottom, #1281dc, #1593fc);
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
}
.delcheckout-btn:active {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-color: #075bba #0c69d2 #0f7de9;
  background-image: -webkit-linear-gradient(top, #1281dc, #1593fc);
  background-image: -moz-linear-gradient(top, #1281dc, #1593fc);
  background-image: -o-linear-gradient(top, #1281dc, #1593fc);
  background-image: linear-gradient(to bottom, #1281dc, #1593fc);
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
}

:-moz-placeholder {
  color: #acb6c8 !important;
}

::-moz-placeholder {
  color: #acb6c8 !important;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #acb6c8;
}

:-ms-input-placeholder {
  color: #acb6c8;
}

::-moz-focus-inner {
  padding: 0 !important;
  border: 0 !important;
}
.transaccion{
    

    
    margin-top: -20%;
}