.mglft{
  margin-left:20px !important;
}

select {
  border-color: transparent;
  background-color: #cfd854;
  color:#000;
  font-weight: bold;
}

.telefonos {
  border-color: transparent;
  background-color: transparent;
  color: #444;
  font-weight: bold;
}

.custom-icon {
  color:#fff;
  font-weight: bold;
}
.custom-icon {
  color:#fff;
  font-weight: bold;
}
.custom-icontarjeta {
  color:black;
  font-weight: bold;

}

.custom-icon-sheet {
  color:#7CBF55;
  font-weight: bold;
}
.custom-icon-Delete{

  color:red;
  font-weight: bold;

}

.activated label{
  background-color: #181818;
  color: #181818;
}



.custom-item2 {
  color:#fff;
  border-color:  #444;
  border-left-color: transparent;
  border-right-color: transparent;
  background-color: #181818;
}
.blackClass{
  background-color:  #181818;
}

.logoPrincipal{
  padding: 16px;
  text-align:center;
  border-color: #181818 ;
}

.tabs-gotap{
  background-color:#181818;
  border-color:#181818;
}

.tabs-gotap a {
  color:white;
}



summary{
  color:#fff;
  font-size: 1.2em;

}
label.activated {
/*  background-color: #181818 !important;
  border-color:#181818 !important;
  border-top:#444 !important;*/
}

.tpnt{
  background-color:transparent;
  border-color:transparent;
}

.al{
  text-align:left;
}
#botonEliminar{
border-radius: 50px;
}


@font-face
{
  font-family: goTapFont;
  src: url(../img/quicksand.otf);
}

.letraGoTap{
  font-family: goTapFont;
}

.backgroundinicial{
  background: url(../img/pantalla_inicial.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.backgroundgoTap{
  background: url(../img/fondo_verde.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.backgroundNube{
  background: url(../img/fondo_nube.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.backgroundready{
  background: url(../img/ya_estas_listo.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.bbcelular{
  background: url(../img/celular.png) no-repeat;
  display: block;
  width: 125px;
  height: 155px;
  float: left;
  margin:0 0 0 50px;
}


#imagenesResizables{
  max-width:100%;
  max-height:100%;
  margin-top:1em;

}

.clear{
  clear: both;
}

.butrecarga{
  width: 200px !important;
  height: 65px;
  font-size: 28px;
}

.txtCredit{

  float:left;
  margin-top: 1.2em;

}
.txtPhone{
  float:left;
  margin-top: 3.5em;
}

.txtcolor{
  color:#000;
}

.txtreg{
  font-size:14px !important;
}

.txtrecarga2{
  position:relative;
  top:46px;
  left:-15px;
  display:block;
  font-size:17px;
}

.center{
  text-align: center;
}

.margintop{
  margin-top:150px !important;
}

.loginfields{
  margin: 5px auto;
  border-radius:10px;
}

.txtbnd{
  width:200px;
  margin: 20px 0 -10px;
}

.button.button-gotap {
  font-size: 100%;
  max-width:100%;
  max-height:100%;
  border-color:#3ca64e;
  background-color: #3ca64e;
  color: #fff;
  border-radius: 50px;

}

.button.button-gotap:hover {
  color: #fff;
  text-decoration: none;
}

.button.button-gotap.active, .button.button-gotap.activated {
  border-color: #7CBF55;
  background-color: #7CBF55;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}

.button.button-gotap.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #33cd5f;
}

.button.button-gotap.button-icon {
  border-color: transparent;
  background: none;
}

.button.button-gotap.button-outline {
  border-color: #33cd5f;
  background: transparent;
  color: #33cd5f;
}

.button.button-gotap.button-outline.active, .button.button-gotap.button-outline.activated {
  background-color: #33cd5f;
  box-shadow: none;
  color: #fff;
}

.bar.bar-gotap {
  border-color:#3ca64e;
  background-color: #3ca64e;
  background-image: linear-gradient(0deg, #28a54c, #28a54c 50%, transparent 50%);
  color: #fff;
}

.bar.bar-gotap .title {
  color: #fff;
}

.bar.bar-gotap.bar-footer {
  background-image: linear-gradient(180deg, #28a54c, #0c63ee 50%, transparent 50%);
}

.item.item-gotap {
  border-color: #33cd5f;
  background-color: #7CBF55;
  color: #fff;
}

select#tarjetero option[value="Visa"]{
  background-image:url(male.png);
}

select#tarjetero option[value="Master Card"] {
  background-image:url(female.png);
}

select#tarjetero option[value="American Express"] {
  background-image:url(others.png);
}

.col{
  text-align:center !important;
}

.row{
  padding-bottom:20px !important;
}

.iconVolver:before,
.iconVolver{
  margin-top: 0.55em;
  color:#3ca64e;
  font-size:2em !important;
  display:block !important;
}

.viewgotap{
  overflow:auto;
  margin-top:35px;
}

.hache{
  color:#f8f8f8;
  font-size:1.2em !important;
  display:block !important;
}
.resumenTarjeta{
  color:#f8f8f8;
}

.inputTarjeta{
  background-color: rgba(221,221,221,0.8);
  font-family: inherit;
  color:#000 !important;
  width: 100%;
  box-sizing: border-box;
}

.butlog{
  width: 130px !important;
  height: 52px;
  font-size: 20px;
  line-height: 20px;
}

.butreg{
  width: 200px;
  height: 60px;
  display: block;
  background:url(../img/registrarse_primero.png) no-repeat;
}

.custom-item span{
  background-color: transparent;
  color:#000;
  text-align:left;
  font-size:14px;
}

.custom-item input{
  color:#000;
}

.custom-item {
  border-color:  transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  background-color: transparent;
}
