<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
-->
<!-- JQUERY js -->
<script src="lib/jquery/dist/jquery.js"></script>
<!-- ionic/angularjs js -->
<script src="lib/ionic/js/ionic.bundle.js"></script>
<!--pluguins de ngCordova-->
<script src="lib/ngCordova/dist/ng-cordova.js"></script>
<!-- cordova script (this will be a 404 during development) -->
<script src="cordova.js"></script>

<!-- your app's js -->
<script src="js/filters.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="/lib/js/card.js"></script>


</head>
<body ng-app="nfcPay" ng-controller="EditarDireccion">

  <ion-pane >

    <ion-side-menus enable-menu-with-back-views="false">

      <ion-side-menu-content class="letraGoTap backgroundgoTap"  style="overflow:auto">
        <div class="row responsive-sm" >
          <div class="col">
            <ion-nav-bar class="bar-stable bar-gotap">
              <!--Just the menu toggle-->
              <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
                <h1 class="title" style="text-align:center">EDITAR DIRECCIÓN</h1>
              </ion-nav-buttons>
            </ion-nav-bar>
          </div>
        </div>
        <ion-content class="viewgotap" >
          <div class="row responsive-sm">
            <div class="col">
              <div class="list" >
                  <label class="item item-input custom-item">
                    <span class="input-label"><b>País:</b></span>
                    <input type="text" ng-model="direcciones.pais"/>
                  </label>
                  <label class="item item-input custom-item">
                    <span class="input-label"><b>Provincia: </b></span>
                      <select ng-model="provincia" ng-change="getCantones(provincia)" style="color:#000;border:2px solid #000;padding:5px;font-weight:normal">
                        <option ng-repeat="provincia in provincias" >{{provincia.provincia}}</option>
                      </select>
                  </label>
                  <label class="item item-input custom-item">
                    <span class="input-label"><b>Cantón: </b></span>
                      <select ng-model="canton" style="color:#000;border:2px solid #000;padding:5px;font-weight:normal">
                        <option  ng-repeat="canton in cantones" >{{canton.canton}}</option>
                      </select>
                  </label>
                  <label class="item item-input custom-item">
                    <span class="input-label"><b>Dirección:</b></span>
                    <input type="text" ng-model="direcciones.direccion"/>
                  </label>
                  <label class="item item-input custom-item">
                    <span class="input-label"><b>Código Postal:</b></span>
                    <input type="text" ng-model="direcciones.codigoPostal"/>
                  </label>
              </div>
              <button class="button button-full button-gotap button-assertive" ng-click="updateDirection(direcciones.pais,provincia,canton,direcciones.direccion,direcciones.codigoPostal)">Guardar Cambios</button>
            </div>
          </div>
        </ion-content>

      </ion-side-menu-content>

     <ion-side-menu class="blackClass"side="left">
      <ion-header-bar class="bar-stable bar-gotap">
        <h1 class="title">GOTAP</h1>
      </ion-header-bar>
      <ion-content>
        <ion-list >
          <ion-item class="custom-item2"nav-clear menu-close ng-click="navegacion(2)">
            RECARGAR AHORA
          </ion-item>
          <ion-item class="custom-item2"nav-clear menu-close ng-click="navegacion(1)">
            TRANSACCIONES
          </ion-item>
          <ion-item class="custom-item2"nav-clear menu-close ng-click="navegacion(3)">
            MEDIOS DE PAGO
          </ion-item>
          <ion-item class="custom-item2" nav-clear menu-clse ng-click="navegacion(0)">
            IDENTIFICACIÓN
          </ion-item>
          <ion-item class="custom-item2" nav-clear menu-clse ng-click="navegacion(6)">
            MIS NÚMEROS
          </ion-item>
          <ion-item class="custom-item2" nav-clear menu-clse ng-click="navegacion(5)">
            EDITAR DIRECCIÓN
          </ion-item>
          <ion-item class="custom-item2"nav-clear menu-close  ng-click="navegacion(4)">
            SALIR
          </ion-item>
        </ion-list>
        <div class="row">
        </ion-content>
      </ion-side-menu>
        
   </ion-side-menus>
  </ion-pane>  
</body>
</html>
