<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
-->
<!-- JQUERY js -->
<script src="lib/jquery/dist/jquery.js"></script>
<!-- ionic/angularjs js -->
<script src="lib/ionic/js/ionic.bundle.js"></script>
<!--pluguins de ngCordova-->
<script src="lib/ngCordova/dist/ng-cordova.js"></script>
<!-- cordova script (this will be a 404 during development) -->
<script src="cordova.js"></script>

<!-- your app's js -->
<script src="js/filters.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
</head>

<body ng-app="nfcPay">
  <ion-pane class="blackClass" ng-controller="appFunctions">
    <ion-content >

      <ion-slide-box on-slide-changed="slideHasChanged($index)" active-slide="slideactivo" >
        <ion-slide>

          <ion-header-bar class="bar bar-gotap">
            <h1 class="title" style="text-align:left"></h1>
            <h1 class="title" style="text-align:left"></h1>
            <h1 class="title">Bienvenido</h1>
          </ion-header-bar>

          <div class="row">
            <div class="col">
              <br><br>
              <div class="logoPrincipal">
                <img src="img/gotap.png">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="list">

                <label class="item item-input custom-item" style="border-top-color: transparent ">
                  <span class="input-label" >Username</span>
                  <input type="text" ng-model="userName">
                </label>

                <label class="item item-input custom-item">
                  <span class="input-label ">Password</span>
                  <input type="password" ng-model="password">
                </label>

                <div class="row responsive-sm">
                  <div class="col">
                    <button class="button button-full button-gotap" ng-click="userLogIn(userName,password)">INICIAR SESIÓN</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </ion-slide>

        <ion-slide >

          <ion-header-bar class="bar bar-gotap">
            <h1 class="title" style="text-align:left"></h1>
            <h1 class="title" style="text-align:left"></h1>
            <h1 class="title">Nuevo Usuario</h1>
          </ion-header-bar>
          <br><br>

          <div class="row" ng-hide="mostrarDivRegistro" >
            <div class="col">
              <div class="list">
                <form>
                  <label class="item item-input custom-item" style=" border-top-color:transparent">
                    <span class="input-label">Nombre</span>
                    <input type="text" ng-model="nombre">
                  </label>

                  <label class="item item-input custom-item">
                    <span class="input-label">Apellido</span>
                    <input type="text" ng-model="apellido" >
                  </label>

                  <label class="item item-input custom-item ">
                    <span class="input-label">2º Apellido</span>
                    <input type="text"ng-model="apellido2"placeholder="(Opcional)">
                  </label>

                  <label class="item item-input custom-item">
                    <span class="input-label">Email</span>
                    <input type="email" ng-model="email" required>
                  </label>

                  <label class="item item-input custom-item">
                    <span class="input-label">Identificador</span>
                    <input type="text" ng-model="identificador"placeholder="Identificación fiscal" >
                  </label>

                  <label class="item item-input custom-item">
                    <span class="input-label">Provincia</span>
                    <select ng-model="provincia" ng-change="getCantones(provincia)">
                      <option ng-repeat="provincia in provincias" >{{provincia.provincia}}</option>
                    </select>
                  </label>

                  <label class="item item-input custom-item">
                    <span class="input-label">Cantón</span>
                    <select ng-model="canton">
                      <option  ng-repeat="canton in cantones" >{{canton.canton}}</option>
                    </select>
                  </label>

                  <label class="item item-input custom-item">
                    <span class="input-label">Teléfono</span>
                    <input type="number"ng-model="telefono"placeholder="(Móvil)">
                  </label>

                  <label class="item item-input custom-item">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="nombreUsuario">
                  </label>


                  <label class="item item-input custom-item">
                    <span class="input-label">Password</span>
                    <input type="password"ng-model="password" >
                  </label>

                  <label class="item item-input custom-item"style=" border-bottom-color:transparent">
                    <span class="input-label">Password</span>
                    <input type="password"ng-model="password2"placeholder="Repite tu password">

                  </label>
                  <button class="button button-full button-gotap" ng-click="userRegistration(nombre,apellido,apellido2,email,identificador,provincia,canton,telefono,nombreUsuario,password,password2)" >Regístrame!</button>

                </form>
              </div>
              <br><br>

            </div>

          </div>
        </div>
      </div>

    </ion-slide>
  </ion-slide-box>
</ion-content>

<div class="tabs tabs-striped tabs-icon-left tabs-gotap">
  <a class="tab-item {{varActive}}" ng-click="cambiarSlide(0)">
    <i class="icon ion-ios-person-outline custom-icon"></i>
    Inicia Sesión
  </a>

  <a class="tab-item {{varActive2}}"ng-click="cambiarSlide(1)">
    <i class="icon ion-ios-paper-outline custom-icon"></i>
    Regístrate
  </a>
</div>

</ion-pane>
</body>
</html>
