<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
-->
<!-- JQUERY js -->
<script src="lib/jquery/dist/jquery.js"></script>
<!-- ionic/angularjs js -->
<script src="lib/ionic/js/ionic.bundle.js"></script>
<!--pluguins de ngCordova-->
<script src="lib/ngCordova/dist/ng-cordova.js"></script>
<!-- cordova script (this will be a 404 during development) -->
<script src="cordova.js"></script>

<!-- your app's js -->
<script src="js/filters.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
</head>

<body ng-app="nfcPay" >
  <ion-view class="blackClass letraGoTap backgroundgoTap " ng-controller="appFunctions" >
    <ion-content scroll="true" >
          <div>
            <div class="col" style="padding:0!important">
              <img src="img/onlygotap.png" style="margin-top:10px;width:250px;height:250px">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="list" style="padding-left:15px!important">
                <label class="item item-input custom-item loginfields">
                  <span class="input-label" style="text-align:right;padding:0 7px 0 0">USUARIO</span>
                  <input type="text" class="letraGoTap mglft" style="position:relative;top:-3px" ng-model="userName">
                </label>
                <label class="item item-input custom-item loginfields">
                  <span class="input-label " style="text-align:right;padding:0 7px 0 0">PIN</span>
                  <input type="password" class="letraGoTap mglft" style="position:relative;top:-2px"ng-model="password">
                </label>
              </div>
            </div>
          </div>

          <div class="row ">
            <div class="col" >
              <button class="button button-gotap letraGoTap butlog" ng-click="userLogIn(userName,password)"><b>INICIAR SESIÓN</b></button>
            </div>
            <div class="col" >
               <a ng-click="GoToRegistro()"><img src="img/registrarse_primero.png" style="width:146px;height:40px;margin:5px auto"></a>
            </div>
          </div>
</ion-content>
</ion-view>
</body>

</html>
