<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
-->
<!-- JQUERY js -->
<script src="lib/jquery/dist/jquery.js"></script>
<!-- ionic/angularjs js -->
<script src="lib/ionic/js/ionic.bundle.js"></script>
<!--pluguins de ngCordova-->
<script src="lib/ngCordova/dist/ng-cordova.js"></script>
<!-- cordova script (this will be a 404 during development) -->
<script src="cordova.js"></script>

<!-- your app's js -->
<script src="js/filters.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>

</head>
<body ng-app="nfcPay" ng-controller="RecargaAhoraFunctions">
  <ion-pane ng-controller="MainController">
    <ion-side-menus enable-menu-with-back-views="false">
      <ion-side-menu-content class="blackClass letraGoTap backgroundgoTap"  style="overflow: auto">
        <div class="row " >
          <div class="col">
            <ion-nav-bar class="bar-stable bar-gotap">
              <!--Just the menu toggle-->
              <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
                <h1 class="title letraGoTap" style="text-align: center">RECARGAR AHORA</h1>
              </ion-nav-buttons> 
            </ion-nav-bar>
          </div>
        </div>

        <div class="row " >
          <div class="col">
            <img src="img/nube.png" id="imagenesResizables">
          </div>
        </div>
        <div class="row ">
          <div class="col col-10" >
          </div>
          <div class="col col-33" >
            <img src="img/tarjeta_credito.png" id="imagenesResizables" >
          </div>
          <div class="col" >
            <span class="txtCredit">Escoge la tarjeta que quieres utilizar</span>
            <select style="text-align:center">
              <option ng-repeat="numero in tarjetas">{{numero.numero}}</option>
              <!--    <option ng-repeat="tipo in tarjetas">{{tipo.tipo}}</option>-->
            </select>
          </div>
          <div class="col col-10" >
          </div>
        </div>
        <div class="row ">
          <div class="col col-10" >
          </div>
          <div class="col col-33">
            <img src="img/celular.png" id="imagenesResizables">
          </div>
          <div class="col" >
            <span class="txtPhone"> y el número de teléfono que quieres recargar</span>
            <select style="text-align:center">
              <option ng-repeat="numero in telefonos">{{numero.alias}}</option>
            </select>
          </div>
          <div class="col col-10" >
          </div>
        </div>

        <div style="text-align:center"><button class="button button-gotap letraGoTap butrecarga"ng-click="addTransaction()">RECARGAR</button></div>
        <!-- contenido del NFC -->
        <div ng-if="tag.id">
          <div class="card">
            <div class="item item-text-wrap">
              <dl>
                <dt>Tag Id</dt>
                <dd>{{ tag.id | bytesToHexString }}</dd>
                <dt>Tag Type</dt>
                <dd>{{ tag.type}}</dd>
                <!-- TODO techTypes -->
                <dt>Max Size</dt>
                <dd>{{ tag.maxSize}} bytes</dd>
                <dt>Is Writable</dt>
                <dd>{{ tag.isWritable}}</dd>
                <dt>Can Make Read Only</dt>
                <dd>{{ tag.canMakeReadOnly}}</dd>
              </dl>
              <div class="card" ng-repeat="record in tag.ndefMessage">
                <div class="item item-divider">
                  Record {{$index + 1}} <br/>
                </div>
                <div class="item item-text-wrap">
                  <dl>
                    <dt>TNF</dt>
                    <dd>{{ record.tnf | tnfToString }}</dd>
                    <dt>Record Type</dt>
                    <dd>{{ record.type | bytesToString }}</dd>
                    <dt ng-if="record.id">Record Id</dt>
                    <dd ng-if="record.id">{{ record.id | bytesToString }}</dd>
                    <dt>Payload</dt>
                    <dd>{{ record | decodePayload }}</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / contenido del NFC -->
      </ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu class="blackClass"side="left">
      <ion-header-bar class="bar-stable bar-gotap">
        <h1 class="title">GOTAP</h1>
      </ion-header-bar>
      <ion-content>
        <ion-list >
          <ion-item class="custom-item2"nav-clear menu-close ng-click="navegacion(2)">
            RECARGAR AHORA
          </ion-item>
          <ion-item class="custom-item2"nav-clear menu-close ng-click="navegacion(1)">
            TRANSACCIONES
          </ion-item>
          <ion-item class="custom-item2"nav-clear menu-close ng-click="navegacion(3)">
            MEDIOS DE PAGO
          </ion-item>
          <ion-item class="custom-item2" nav-clear menu-clse ng-click="navegacion(0)">
            IDENTIFICACIÓN
          </ion-item>
          <ion-item class="custom-item2" nav-clear menu-clse ng-click="navegacion(6)">
            MIS NÚMEROS
          </ion-item>
          <ion-item class="custom-item2"nav-clear menu-close  ng-click="navegacion(4)">
            SALIR
          </ion-item>
        </ion-list>
        <div class="row">
        </ion-content>
      </ion-side-menu>

    </ion-side-menus>

  </ion-pane>
</body>
</html>
