<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
-->
<!-- JQUERY js -->
<script src="lib/jquery/dist/jquery.js"></script>
<!-- ionic/angularjs js -->
<script src="lib/ionic/js/ionic.bundle.js"></script>
<!--pluguins de ngCordova-->
<script src="lib/ngCordova/dist/ng-cordova.js"></script>
<!-- cordova script (this will be a 404 during development) -->
<script src="cordova.js"></script>

<!-- your app's js -->
<script src="js/filters.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
</head>

<body ng-app="nfcPay" >
  <ion-pane class="blackClass letraGoTap backgroundgoTap " ng-controller="appFunctions" >
    <ion-header-bar class="bar-stable bar-gotap">
      <div class="col" style="text-align:inherit!important"><button class="button-clear" ng-click="goBack()" style="width:50px;color:#000;text-align:left"><i class="ion-chevron-left"></i></button></div>
      <div><img src="img/nuevo_usuario.png" style="width:192px;height:33px"></div>
      <div class="col"></div>
    </ion-header-bar>
    <ion-content style="overflow:auto">
        <div class="row" ng-hide="mostrarDivRegistro" >
          <div class="col">
            <div class="list">
                <label class="item item-input custom-item" style=" border-top-color:transparent">
                  <span class="input-label" style="width:0%">NOMBRE</span>
                  <input type="text" class="txtcolor" ng-model="nombre">
                </label>
                <label class="item item-input custom-item">
                  <span class="input-label" style="width:0%">PRIMER APELLIDO</span>
                  <input type="text" class="txtcolor" ng-model="apellido" >
                </label>
                <label class="item item-input custom-item ">
                  <span class="input-label" style="width:0%">SEGUNDO APELLIDO</span>
                  <input type="text" class="txtcolor" ng-model="apellido2"placeholder="(Opcional)">
                </label>
                <label class="item item-input custom-item">
                  <span class="input-label" style="width:0%">E-MAIL</span>
                  <input type="email" class="txtcolor" ng-model="email" required>
                </label>
                <label class="item item-input custom-item">
                  <span class="input-label" style="width:0%">IDENTIFICACIÓN</span>
                  <input type="text" class="txtcolor" ng-model="identificador"placeholder="Identificación fiscal" >
                </label>
                <div class="row" >
                  <div>
                    <label class="item item-input custom-item">
                      <span class="input-label" style="width:0%">PROVINCIA</span>
                      <select ng-model="provincia" style="color:#000;border:2px solid #000;padding:2px;font-weight:normal;margin-left:10px" ng-change="getCantones(provincia)">
                        <option ng-selected="true">Selecciona provincia</option>
                        <option ng-repeat="provincia in provincias" >{{provincia.provincia}}</option>
                      </select>
                    </label>
                  </div>
                </div>
                <div class="row" >
                  <div>
                    <label class="item item-input custom-item">
                      <span class="input-label" >CANTÓN</span>
                      <select ng-model="canton" style="color:#000;border:2px solid #000;padding:2px;font-weight:normal;margin-left:10px">
                        <option  ng-repeat="canton in cantones" >{{canton.canton}}</option>
                      </select>
                    </label>
                  </div>
                </div>
                <div class="row" >
                  <div class="col col-10" >
                  </div>
                  <div class="col" >
                     <button class="button button-gotap letraGoTap butlog" style="font-size:18px;width:140px!important" ng-click="userRegistration(nombre,apellido,apellido2,email,identificador,provincia,canton,nombreUsuario,password,password2)" ><b>REGÍSTRAME</b></button>
                 </div>
                  <div class="col col-10" >
                  </div>
                </div>
                <label class="item item-input custom-item">
                  <span class="input-label" style="text-align:right;width:140px"><img src="img/icono_usuario.png" style="width:30px;height:30px;position:relative;top:6px;left:-5px">USUARIO</span>
                  <input type="text" class="txtcolor" ng-model="nombreUsuario">
                </label>
                <label class="item item-input custom-item">
                  <span class="input-label"style="text-align:right;width:140px"><img src="img/candado.png" style="width:30px;height:30px;position:relative;top:6px;left:-8px">PIN</span>
                  <input type="password" class="txtcolor" ng-model="password">
                </label>
                <label class="item item-input custom-item"style=" border-bottom-color:transparent">
                  <span class="input-label"style="text-align:right;width:140px"><img src="img/candado.png" style="width:30px;height:30px;position:relative;top:6px;left:-8px">PIN</span>
                  <input type="password" class="txtcolor" ng-model="password2" placeholder="REPITE TÚ PIN">
                </label>
            </div>
          </div>
        </div>
      </div>
    </div>
</ion-content>
</ion-pane>
</body>
</html>
