<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
-->
<!-- JQUERY js -->
<script src="lib/jquery/dist/jquery.js"></script>
<!-- ionic/angularjs js -->
<script src="lib/ionic/js/ionic.bundle.js"></script>
<!--pluguins de ngCordova-->
<script src="lib/ngCordova/dist/ng-cordova.js"></script>
<!-- cordova script (this will be a 404 during development) -->
<script src="cordova.js"></script>

<!-- your app's js -->
<script src="js/filters.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="/lib/js/card.js"></script>


</head>
<body ng-app="nfcPay" ng-controller="DownLoadTransactions" style="overflow: auto">
  <ion-pane >
    <ion-side-menus enable-menu-with-back-views="false">

      <ion-side-menu-content class="blackClass letraGoTap backgroundgoTap" style="overflow:auto">
        <div class="row " >
          <div class="col">
            <ion-nav-bar class="bar-stable bar-gotap">
              <!--Just the menu toggle-->
              <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
                <h1 class="title" style="text-align:center">TRANSACCIONES</h1>
              </ion-nav-buttons>
            </ion-nav-bar>
          </div>
        </div>
        <ion-content class="viewgotap">
          <br>
          <div class="row">
            <div id="puntoInsercionTransacciones" class="col">
            </div>
          </div>
         </ion-content>

      </ion-side-menu-content>

     <ion-side-menu class="blackClass"side="left">
      <ion-header-bar class="bar-stable bar-gotap">
        <h1 class="title">GOTAP</h1>
      </ion-header-bar>
      <ion-content>
        <ion-list >
          <ion-item class="custom-item2"nav-clear menu-close ng-click="navegacion(2)">
            RECARGAR AHORA
          </ion-item>
          <ion-item class="custom-item2"nav-clear menu-close ng-click="navegacion(1)">
            TRANSACCIONES
          </ion-item>
          <ion-item class="custom-item2"nav-clear menu-close ng-click="navegacion(3)">
            MEDIOS DE PAGO
          </ion-item>
          <ion-item class="custom-item2" nav-clear menu-clse ng-click="navegacion(0)">
            IDENTIFICACIÓN
          </ion-item>
          <ion-item class="custom-item2" nav-clear menu-clse ng-click="navegacion(6)">
            MIS NÚMEROS
          </ion-item>
          <ion-item class="custom-item2"nav-clear menu-close  ng-click="navegacion(4)">
            SALIR
          </ion-item>
        </ion-list>
        <div class="row">
        </ion-content>
      </ion-side-menu>

   </ion-side-menus>
  </ion-pane>
</body>
</html>
