<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
-->
<!-- JQUERY js -->
<script src="lib/jquery/dist/jquery.js"></script>
<!-- ionic/angularjs js -->
<script src="lib/ionic/js/ionic.bundle.js"></script>
<!--pluguins de ngCordova-->
<script src="lib/ngCordova/dist/ng-cordova.js"></script>
<!-- cordova script (this will be a 404 during development) -->
<script src="cordova.js"></script>
<!-- your app's js -->
<script src="js/filters.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
</head>
<body ng-app="nfcPay" >
  <ion-pane class="blackClass letraGoTap backgroundgoTap " ng-controller="ValidarNumeroFunctions">
    <div class="bar bar-stable bar-gotap">
      <h1 class="title letraGoTap">AÑADE TU NÚMERO</h1>
    </div>

    <ion-content  scroll="true" class="has-header ">

      <div class="row " >
        <div class="col">
          <img src="img/sms.png" id="imagenesResizables">
        </div>
      </div>

      <div class="spacer" style="height: 15px;"></div>

      <div class="row" >
        <div class="col">
          <span >1. Introduce tu numero y pulsa el avión para ENVIAR CÓDIGO</span>
          <label class="item item-input custom-item">
            <span class="input-label " style="text-align:right;"><b>(+506)</b></span>
            <input type="number" style="color:#000;border:2px solid #000; margin-right:10em;" ng-model="phoneNumber">
          </label>
          <img ng-src="img/plane.png"id="imagenesResizables"  ng-click="SendPhoneRandom(phoneNumber)" />
        </div>
      </div>

      <div class="row " >
        <div class="col">
  <span >2. Introduce el código recibido y pulsa en "VALIDAR"</span>
          <label class="item item-input custom-item">
            <span class="input-label " style="text-align:right;"><b>Código</b></span>
            <input type="number"style="color:#000;border:2px solid #000; margin-right:10em;" ng-model="codeNumber">
          </label>

        </div>

    </div>
    <div style="text-align:center"><button class="button button-gotap letraGoTap butrecarga"ng-click="ValidatePhoneRandom(codeNumber)" >VALIDAR</button></div>

  </ion-content>
</ion-pane>
</body>
</html>
