<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Angular-Card Example</title>
  </head>
  <body data-ng-app="app" data-ng-controller="ExampleCtrl">

    <form action="#"
      data-card
      data-width="500"
      data-card-container="#card-container"
      data-values="cardValues"
      data-options="cardOptions"
      data-messages="cardMessages"
      >

      <div>
          <input placeholder="Card number" type="text" name="CardNumber" card-number data-ng-model="card.number" />

          <input placeholder="Full name" type="text" name="CardName" card-name data-ng-model="card.name" />
      </div>
      <div>
          <input placeholder="MM / YYYY" type="text" name="CardExpiry" card-expiry data-ng-model="card.expiry" />

          <input placeholder="CVC" type="text" name="CardCvc" card-cvc data-ng-model="card.cvc" />

          <input type="button" value="Change card" data-ng-click="changeCard()" />
          <input type="button" value="Clear" data-ng-click="clear()" />
      </div>

    </form>

    <div id="card-container"></div>

    <script src="../bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="../bower_components/card/lib/js/jquery.card.js" type="text/javascript"></script>
    <script src="../bower_components/angular/angular.min.js" type="text/javascript"></script>
    <script src="../src/card.js" type="text/javascript"></script>
    <script src="example.js" type="text/javascript"></script>

  </body>
</html>
