
    <ion-content scroll="true" >
          <div>
            <div class="col" style="padding:0!important">
              <img src="img/onlygotap.png" style="margin-top:25%;width:250px;height:250px">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="list" style="padding-left:15px!important">
                <label class="item item-input custom-item loginfields">
                  <span class="input-label" style="text-align:right;padding:0 7px 0 0">USUARIO</span>
                  <input type="text" class="letraGoTap mglft" style="position:relative;top:-3px" ng-model="userName">
                </label>
                <label class="item item-input custom-item loginfields">
                  <span class="input-label " style="text-align:right;padding:0 7px 0 0">PIN</span>
                  <input type="password" class="letraGoTap mglft" style="position:relative;top:-2px"ng-model="password">
                </label>
              </div>
            </div>
          </div>

          <div class="row ">
            <div class="col" >
              <button class="button button-gotap letraGoTap butlog" ng-click="userLogIn(userName,password)"><b>INICIAR SESIÓN</b></button>
            </div>
            <div class="col" >
               <a ng-click="GoToRegistro()"><img src="img/registrarse_primero.png" style="width:146px;height:40px;margin:5px auto"></a>
            </div>
          </div>
</ion-content>