
    <ion-content scroll="false" style="background-color:#94c11e">
          <div style="height:220px">
            <div class="col" style="padding:0!important">
              <img src="img/logogotapsinfondo.png" style="margin-top:8%;width:290px;height:240px">
            </div>
          </div>
          
          <div id="login" style="margin:6% 6px 6px">
              <div id="user" style="margin:10px 10px 20px 10px;background:white;padding:10px">
                  <label style="font-weight:bolder;font-size:20px;color:#777777;letter-spacing:-2px">Usuario:
                      <input ng-model="userName" style="width:160px;border:0;margin-left:6px;color:#777777;letter-spacing:-2px"></input>
                  </label>

              </div>
              <div id="password" style="margin:20px 10px 10px 10px;background:white;padding:10px">
                  <label style="font-weight:bolder;font-size:20px;color:#777777;letter-spacing:-2px">Clave:
                        <input ng-model="password" style="width:160px;border:0;margin-left:24px;color:#777777;letter-spacing:-2px"></input>
                  </label>
              </div>
          </div>

          <div id="recordar" style="margin:20px 6px 15px;padding:0 10px">
              <button class="button" ng-click="userLogIn(userName,password)" style="font-weight:normal;min-height:41px;font-size:20px;letter-spacing:-2px;font-family:inherit;height:20px;border-radius:0;width:100%;background-color:#0065a3;color:white">INICIAR SESIÓN</button>
              <label style="position:absolute;border-color:#0065a3 transparent transparent;border-style:solid;border-width:20px;height:0;width:0;margin-left:66%"></label>
              <div>
                <button class="button" ng-click="utils.goToPage('registro')" style="float:right;position:relative;margin-top:30px;min-height:0;line-height:0;font-size:15px;letter-spacing:-1px;font-family:inherit;height:24px;border-radius:0;width:130px;background-color:#212121;color:white">Registrate Aquí!</button>
              </div>
              <div>
                <div style="color:#212121;position:relative;top:12px;letter-spacing:-2px;font-weight:bolder;font-size:14px"><input type="checkbox" style="margin-right:2%"></input><b>Recordar Usuario</b></div>
                <div style="color:#212121;position:relative;top:17px;letter-spacing:-2px;font-size:14px;width:140px">Olvidaste tu contraseña ?</div>
              </div>
          </div>


<!--
        <div class="row">
            <div class="col">
              <div class="list" style="padding-left:15px!important">
                <label class="item item-input custom-item loginfields">
                  <span class="input-label" style="text-align:right;padding:0 7px 0 0">USUARIO</span>
                  <input type="text" class="letraGoTap mglft" style="position:relative;top:-3px" ng-model="userName">
                </label>
                <label class="item item-input custom-item loginfields">
                  <span class="input-label " style="text-align:right;padding:0 7px 0 0">PIN</span>
                  <input type="password" class="letraGoTap mglft" style="position:relative;top:-2px"ng-model="password">
                </label>
              </div>
            </div>
          </div>

          <div class="row ">
            <div class="col" >
              <button class="button button-gotap letraGoTap butlog" ng-click="userLogIn(userName,password)"><b>INICIAR SESIÓN</b></button>
            </div>
            <div class="col" >
               <a ng-click="GoToRegistro()"><img src="img/registrarse_primero.png" style="width:146px;height:40px;margin:5px auto"></a>
            </div>
          </div>
-->      
</ion-content>