<ion-view view-title="misDatos">
    <ion-content>
        <div class="row " >
            <div class="col">
                <ion-nav-bar class="bar-stable bar-gotap">
                    <!--Just the menu toggle-->
                    <ion-nav-buttons side="left">
                        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                        </button>
                        <h1 class="title letraGoTap" style="text-align: left">IDENTIFICACIÓN</h1>
                    </ion-nav-buttons> 
                </ion-nav-bar>
            </div>
        </div>
        <br
            <div class="row" >
            <div class="col">
                <div class="list" >
                    <label class="item item-input custom-item" ng-click="showActionsheet(1)">
                        <span class="input-label"><b>Nombre:  </b> {{nombre}}</span>
                    </label>

                    <label class="item item-input custom-item" ng-click="showActionsheet(2)">
                        <span class="input-label"><b>Apellido:  </b> {{apellido}}</span>
                    </label>

                    <label class="item item-input custom-item" ng-click="showActionsheet(3)">
                        <span class="input-label"><b>2º Apellido:  </b> {{apellido2}}</span>
                    </label>

                    <label class="item item-input custom-item" ng-click="showActionsheet(4)">
                        <span class="input-label"><b>Identificador:  </b> {{identificador}}</span>
                    </label>

                    <label class="item item-input custom-item" ng-click="showActionsheet(5)">
                        <span class="input-label"><b>Email:  </b> {{email}}</span>
                    </label>

                    <label class="item item-input custom-item" ng-click="showActionsheet(6)">
                        <span class="input-label"><b>Usuario:  </b> {{usuario}}</span>
                    </label>

                    <label class="item item-input custom-item" ng-click="showActionsheet(7)">
                        <span class="input-label"><b>Password:  </b> {{password}} </span>
                    </label>

                    <label class="item item-input custom-item" ng-click="showActionsheet(9)">
                        <span class="input-label"><b>Número de teléfono:  </b> {{telefono}}</span>
                    </label>

                    <label class="item item-input custom-item">
                        <span class="input-label"><b>Provincia: </b></span>
                        <select id="provincia" ng-model="provincia" ng-change="getCantones(provincia)" style="color:#000;border:2px solid #000;padding:5px;font-weight:normal">
                            <option ng-repeat="provincia in provincias" >{{provincia.provincia}}</option>
                        </select>
                    </label>

                    <label class="item item-input custom-item">
                        <span class="input-label"><b>Cantón: </b></span>
                        <select id="canton" ng-model="canton" ng-change="updateDireccion(provincia, canton)" style="color:#000;border:2px solid #000;padding:5px;font-weight:normal">
                            <option  ng-repeat="canton in cantones" >{{canton.canton}}</option>
                        </select>
                    </label>

                    <div class="row" >
                        <div class="col"></div>
                        <div class="col.25">
                            <button class="button button-full button-gotap" style="width:146px;height:40px;margin:5px auto" ng-click="showActionsheet(10)">DARME DE BAJA</button>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>