<ion-view view-title="MIS NÚMEROS">
    <ion-content>

        <div class="row " >
            <div class="col">
                <ion-nav-bar class="bar-stable bar-gotap">
                    <!--Just the menu toggle-->
                    <ion-nav-buttons side="left">
                        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                        </button>
                        <h1 class="title letraGoTap" style="text-align: left">MIS NUMEROS</h1>
                    </ion-nav-buttons> 
                </ion-nav-bar>
            </div>
        </div>
        <br>
 <br>
  <br>
        <div class="row">
            <div class="col-5"></div>
            <div class="col">
                <form >
                    <div class="row">
                        <div class="col col-33">
                            <img src="img/addphone.png" id="imagenesResizables">
                        </div>
                        <div class="col-"></div>
                        <div class="col">
                            <span >Introduce el nuevo número de teléfono</span>
                            <label class="item item-input custom-item">
                                <span class="input-label " style="text-align:right;"><b>(+506)</b></span>
                                <input type="number" style=" text-align: center; color:#000;border:2px solid #000; margin-right:35%;" ng-model="movil">
                            </label>
                            <span >Introduce el nuevo Alias</span>
                            <label class="item item-input custom-item">
                                <input type="text" style="text-align: center; font-size: 1.2em; color:#000;border:2px solid #000; margin-right:25%; margin-left:20%" ng-model="alias">
                            </label>
                        </div>     
                    </div>
                    <p>
                        <input  type="submit" value="Añadir Telefono" class="checkout-btn" ng-click="addTelefono(movil, alias)">
                    </p>
                </form>
            </div>
            <div class="col-5"></div>
        </div>

        <div class="row" ng-repeat="telefono in telefonos" ng-show="{{telefono.estado === 'activo'}}" >
            <div class="col-5"></div>
            <div class="col" style="margin-top: 15%">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col" >
                                <span style="font-size: 2em">{{telefono.alias}}</span>
                            </div>
                            <div class="col" >  
                                <span style="font-size: 1.5em" >(+506){{telefono.numero}}</span>

                            </div>
                        </div>
                        <div class="col">
                            <input type="submit" value="Eliminar Teléfono" class="delcheckout-btn" ng-click="deleteTelefono(telefono.numero)" >
                        </div>
                    </div>
                </div>
                <div class="col-5"></div>
            </div>

    </ion-content>
</ion-view>