<ion-content  scroll="true" class="has-header ">
      <div class="row " >
        <div class="col">
          <img src="img/sms.png" id="imagenesResizables">
        </div>
      </div>

      <div class="spacer" style="height: 15px;"></div>

      <div class="row" >
        <div class="col">
          <span >1. Introduce el numero de teléfono con el que te registraste por primera vez (tu número) y pulsa el avión para ENVIAR CÓDIGO</span>
          <label class="item item-input custom-item">
            <span class="input-label " style="text-align:right;"><b>(+506)</b></span>
            <input type="number" style="color:#000;border:2px solid #000; margin-right:10em;" ng-model="phoneNumber">
          </label>
          <img ng-src="img/plane.png"id="imagenesResizables"  ng-click="VerifyAndSend(phoneNumber)" />
        </div>
      </div>

      <div class="row " >
        <div class="col">
  <span >2. Introduce el código recibido y pulsa en "VALIDAR"</span>
          <label class="item item-input custom-item">
            <span class="input-label " style="text-align:right;"><b>Código</b></span>
            <input type="number" style="color:#000;border:2px solid #000; margin-right:10em;" ng-model="codeNumber">
          </label>

        </div>

    </div>
    <div style="text-align:center"><button class="button button-gotap letraGoTap butrecarga"ng-click="ValidateAndUpdate(codeNumber)" >VALIDAR</button></div>

  </ion-content>