<ion-side-menus class="sidemenu">

    <ion-side-menu-content drag-content="toogledrag">
      <ion-nav-bar class="bar-positive bar-header-clgp">
        <ion-nav-back-button class="button-clear" ng-click="goBack()" style="width:{{badges.total > 0 ? '25' : '50'}}px;text-align:left">
          <i class="ion-arrow-left-c" style="font-size:29px;margin-left:5px"></i>
          <span>{{$root.textGoBack}}</span>
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon logomenu" menu-toggle="left" ng-click="toggleLeftSideMenu()"><!--<img class="ml5" src="img/cgpballs.png"/>--></button>
          <span ng-if="badges.total > 0" class="badge badge-assertive nopdg"><div class="balign">{{badges.total}}</div></span>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
          <button ng-if="$root.showButtonFiltersSearch" class="button button-clear icon ion-ios-search" ng-click="$root.showFiltersSearch()"></button>
          <button ng-if="$root.showButtonConfigPayments" class="button button-clear icon ion-ios-gear" ng-click="$root.showConfigPayments()"></button>
          <a ng-if="$root.showLinkResetSearchFilters" ng-click="$root.resetFiltersSearch()" class="mt7">{{'reset_filters'| translate}}</a>
          <button ng-if="$root.showButtonBookingDetail" class="button button-clear icon ion-android-more-vertical" ng-click="$root.showBookingDetailOptions()"></button>
        </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content> 

    <ion-side-menu side="left">

        <ion-header-bar class="bar-header-clgp"><div class="title title-center header-item">Classgap</div></ion-header-bar>
        <ion-content>
          <div class="p">
            <div class="photo"><img class="prof" ng-src="{{Users.currentUser.Photo || 'img/avatar.png'}}"></div>
          </div>
          <div class="mt30"></div>
          <ion-list>
            <ion-item href="#/menu/messages" class="item-icon-left" menu-close>
              <i class="icon ion-chatbubbles"></i>
              <span ng-if="badges.messages > 0" class="badge badge-assertive nopdg"><div class="balign">{{badges.messages}}</div></span>
              {{'messages' | translate}}
            </ion-item>
            <ion-item href="#/menu/bookings" class="item-icon-left" menu-close>
              <i class="icon ion-ios-calendar-outline"></i>
              <span ng-if="badges.bookings > 0" class="badge badge-assertive nopdg"><div class="balign">{{badges.bookings}}</div></span>
              {{'bookings' | translate}}
            </ion-item>
            <ion-item href="#/menu/search" class="item-icon-left" menu-close>
              <i class="icon ion-ios-people"></i>
              {{'search_tutors' | translate}}
            </ion-item>
            <ion-item ng-if="Users.currentUser.IsTutor" href="#/menu/payments" class="item-icon-left" menu-close>
              <i class="icon ion-card"></i>
              {{'payments' | translate}}
            </ion-item>
            <ion-item href="#/menu/profile" class="item-icon-left" menu-close>
              <i class="icon ion-person"></i>
              {{'profile' | translate}}
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" menu-close href="#" ng-click="contactUs()">
              <i class="icon ion-ios-email"></i>
              {{'contact_us' | translate}}
              <i class="icon ion-android-open fs15 opa7"></i>
              
            </ion-item>

          </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>